.client-logo-wrapper
	.client-logo.text-center#client-logo-top
		%img{"ng-src" => "{{petition.client.image_large}}"}
.container#petition-container
	#delivery-headline.section-header.text-center
		%h2
			Thanks for Signing!
	.panel.panel-default.panel-indented#delivery-container
		.row
			.col-md-6.top-content-wrapper
				%div#petition-image{:style=>"background-image: url({{petition.image_full}});"}
			.col-md-6.top-content-wrapper
				%div.delivery-form-container
					%form{:name => "myForm", "novalidate" => true, "role"=>"form"}
						.form-group
							.col-md-12
								%h4{:style => "font-size: 1.4em"}
									Please Tweet Your Signature to Help Us Reach Our Goal
						.form-group
							.col-md-12
								%textarea{:style=>"width: 96%", "rows"=>"5"}
									{{petition.default_tweet_text}}
						.form-group
							.col-md-12
								%button.btn.btn-primary#sign-with-email-address-button{"ng-click" => "go_to_premium()"}
									Tweet My Signature
						.form-group
							.col-md-12
								%button.btn.btn-link{"ng-click" => "go_to_premium()"}
									I Don't Use Twitter
		#signature-count-outer-wrapper
			#signature-count-wrapper
				.progress-wrapper
					.progress
						.progress-bar{:style => "width: {{calulate_petition_signature_percentage()}}%;", "role"=>"progressbar", "aria-valuenow"=>"{{calulate_petition_signature_percentage()}}", "aria-valuemin"=>"0", "aria-valuemax"=>"100"}
						.target-count
							1000
					#signature-count
						200
	#user-signature-header.section-header.text-left
		Tweeters
	#user-signature-wrapper.panel.panel-default.panel-indented.clearfix{"ng-controller" => "TweetController"}
		%ul#user-signature-list
			%li.user-signature-item{"ng-repeat" => "tweet in tweets.items | orderBy: 'created_at':true"}
				%div.media.thumbnail
					%a.pull-left
						%img.media-object.avatar{"ng-src" => "{{get_avatar_url(tweet)}}"}
					.media-body
						%div.comment
							%div.user-name
								Test U
							%div.tweet-message
								{{tweet.message}}
						%div.comment-timeago
							Tweeted {{tweet.created_at | fromNow }} 

	.bottom-margin#more-tweets-button-wrapper
		%button.btn.btn-primary#more-tweets-button
			More Tweets
.client-logo-wrapper
	.client-logo.text-center#client-logo-bottom
		%img{"ng-src" => "{{petition.client.image_large}}"}