.container-fluid#petition-container
	.row-fluid
		%h2.text-left
			Thanks for Signing!
	.row-fluid
		%div.well#delivery-container
			.row-fluid
				.span6.top-content-wrapper
					%div#petition-image{:style=>"background-image: url({{petition.image_full}});"}
				.span6.top-content-wrapper.vertical-middle-table.well
					%div.delivery-form-container.vertical-middle-cell
						%form{:name => "myForm", "novalidate" => true, :style => "margin: 0px;"}
							.row-fluid
								.span12
									%h4{:style => "font-size: 1.4em"}
										Please Tweet Your Signature to Help Us Reach Our Goal
							.row-fluid
								.span12
									%textarea{:style=>"width: 96%", "rows"=>"5"}
										{{petition.default_tweet_text}}
							.row-fluid
								.span12
									%button.btn.btn-primary#sign-with-email-address-button{"ng-click" => "go_to_premium()"}
										Tweet My Signature
							.row-fluid
								.span12
									%button.btn.btn-link{"ng-click" => "go_to_premium()"}
										I Don't Use Twitter
			.row-fluid#signature-count-wrapper
				.span12
					%div.progress
						%div.bar{:style => "width: {{calulate_petition_signature_percentage()}}%"}
					.row-fluid
						.span6.text-left#signers-count
							Signers:  {{petition.signature_count || 0 }}
						.span6.text-right#target-count
							Goal: {{petition.target_count || 1000 }}
	.row-fluid.bottom-margin#user-signature-wrapper{"ng-controller" => "TweetController"}
		%ul#user-signature-list
			%li.user-signature-item{"ng-repeat" => "tweet in tweets.items | orderBy: 'created_at':true"}
				%div.media.thumbnail
					%a.pull-left
						%img.media-object.avatar{"ng-src" => "{{get_avatar_url(tweet)}}"}
					.media-body
						%div.comment
							%div.user-name
								Test U
							%div.tweet-message
								{{tweet.message}}
						%div.comment-timeago
							Tweeted {{tweet.created_at | fromNow }} 

	.row-fluid.bottom-margin#more-tweets-button-wrapper
		%button.btn.btn-primary#more-tweets-button
			More Tweets
	.row-fluid.bottom-margin#client-logo-wrapper
		.span12.text-center
			%img{"ng-src" => "{{petition.client.image_small}}"}