.client-logo-wrapper
	.client-logo.text-center#client-logo-top
		%img{"ng-src" => "{{client_image_url()}}"}
.container#petition-container
	#delivery-headline.section-header.text-center
		%h2.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_headline_primary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Headline", "ng-bind"=>"!is_admin && petition.delivery_headline_primary || ''"}
		%h5.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_headline_secondary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Sub-Headline", "ng-bind"=>"!is_admin && petition.delivery_headline_secondary || ''"}
	.panel.panel-default.panel-indented#delivery-container
		.row#petition-subheadline
			.col-md-12
				%h4.text-center.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_subheadline", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Sub-Headline", "ng-bind"=>"!is_admin && petition.delivery_subheadline || ''"}
		.row
			.col-md-6.top-content-wrapper
				%div#petition-image{"ng-style" => "signature_image_styling()"}
			.col-md-6.top-content-wrapper
				%div.delivery-form-container
					%form{:name => "myForm", "novalidate" => true, "role"=>"form"}
						.form-group
							.col-md-12
								%h4.contenteditable.placeholder-showing{:style => "font-size: 1.4em", "contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_call_to_action_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Call to Action Headline", "ng-bind"=>"!is_admin && petition.delivery_call_to_action_text || ''"}
						.form-group
							.col-md-12
								%textarea{:style=>"width: 96%", "rows"=>"5"}
									{{petition.default_tweet_text}}
						.form-group
							.col-md-12
								%button.btn.btn-primary#sign-with-email-address-button{"ng-click" => "go_to_premium()"}
									%span.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_call_to_action_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Call to Action Button Text", "ng-bind"=>"!is_admin && petition.delivery_call_to_action_button_text || ''"}
						.form-group
							.col-md-12
								%button.btn.btn-link{"ng-click" => "go_to_premium()"}
									%span.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_skip_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Skip Button Text", "ng-bind"=>"!is_admin && petition.delivery_skip_button_text || ''"}
		#signature-count-outer-wrapper
			#signature-count-wrapper
				.progress-wrapper
					.progress
						.progress-bar{:style => "width: {{calulate_petition_signature_percentage()}}%;", "role"=>"progressbar", "aria-valuenow"=>"{{calulate_petition_signature_percentage()}}", "aria-valuemin"=>"0", "aria-valuemax"=>"100"}
						.target-count
							%span.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.target_count", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Target Number of Signatures", "ng-bind"=>"!is_admin && petition.target_count || ''"}
					#signature-count
						200
	#user-signature-header.section-header.text-left
		Tweeters
	#user-signature-wrapper.panel.panel-default.panel-indented.clearfix{"ng-controller" => "TweetController"}
		%ul#user-signature-list
			%li.user-signature-item{"ng-repeat" => "tweet in tweets.items | orderBy: 'created_at':true"}
				%div.media.thumbnail
					%a.pull-left
						%img.media-object.avatar{"ng-src" => "{{get_avatar_url(tweet)}}"}
					.media-body
						%div.comment
							%div.user-name
								Test U
							%div.tweet-message
								{{tweet.message}}
						%div.comment-timeago
							Tweeted {{tweet.created_at | fromNow }} 

	.bottom-margin#more-tweets-button-wrapper
		%button.btn.btn-primary#more-tweets-button
			%span.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.delivery_more_tweets_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery More Tweets Button Text", "ng-bind"=>"!is_admin && petition.delivery_more_tweets_button_text || ''"}
.client-logo-wrapper
	.client-logo.text-center#client-logo-bottom
		%img{"ng-src" => "{{client_image_url()}}"}