.container-fluid{:style => "text-align:center;"}
	.row-fluid
		%h2
			Thanks for Signing! Complete the form below to Request Your Free Bumper Magnet:
	.row-fluid
		%div.signature-container
			.row-fluid
				.span6
					Image Goes Here
				.span6.vertical-middle-table
					%div.signature-form-container.vertical-middle-cell
						.row-fluid
							.span12.text-center
								%button.btn.btn-primary
									Sign with Facebook
						.row-fluid
							.span12.text-center
								Or
						.row-fluid
							.span6.text-left
								%input{"type"=>"text", "placeholder"=>"First Name"}
							.span6.text-left
								%input{"type"=>"text", "placeholder"=>"Last Name"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text","placeholder"=>"Street Address 1"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"Street Address 2"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"City"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"State"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"Zip Code"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"Phone Number"}
						.row-fluid
							.span12.text-left
								%input{"type"=>"text", "placeholder"=>"Email Address"}
						.row-fluid
							.span12.text-center
								%button.btn.btn-primary
									Send My Magnet
	.row-fluid
		.span12.text-center
			Campaign Logo