.container-fluid#petition-container{:style => "text-align:center;"}
	.row-fluid
		%h2.text-left
			{{petition.premium_offer.headline_text}}
	.row-fluid
		%div.well.signature-container
			.row-fluid
				.span6.top-content-wrapper
					%div#petition-image-wrapper
						%div#petition-image{:style=>"background-image: url({{petition.image_full}});"}
				.span6.vertical-middle-table.well
					%div.signature-form-container.vertical-middle-cell
						.row-fluid
							.span6.text-left
								%input{"type"=>"text", "placeholder"=>"First Name"}
							.span6.text-left
								%input{"type"=>"text", "placeholder"=>"Last Name"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%", "type"=>"text","placeholder"=>"Street Address 1"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%", "type"=>"text", "placeholder"=>"Street Address 2"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%","type"=>"text", "placeholder"=>"City"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%","type"=>"text", "placeholder"=>"State"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%","type"=>"text", "placeholder"=>"Zip Code"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%","type"=>"text", "placeholder"=>"Phone Number"}
						.row-fluid
							.span12.text-left
								%input{:style=>"width: 100%","type"=>"text", "placeholder"=>"Email Address"}
						.row-fluid
							.span12.text-center
								%button.btn.btn-primary
									Send My Magnet
	.row-fluid.bottom-margin#client-logo-wrapper
		.span12.text-center
			%img{"ng-src" => "{{petition.client.image_small}}"}