.client-logo-wrapper
	.client-logo.text-center#client-logo-top
		%img{"ng-src" => "{{client_image_url()}}"}
.container#petition-container
	#premium-headline.section-header.text-center
		%h2.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.premium_headline_primary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Premium Headline", "ng-bind"=>"!is_admin && petition.delivery_headline_primary || ''"}
		%h5.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.premium_headline_secondary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Premium Sub-Headline", "ng-bind"=>"!is_admin && petition.premium_headline_secondary || ''"}
	.panel.panel-default.panel-indented#premium-container
		.row#petition-subheadline
			.col-md-12
				%h4.text-center.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.premium_subheadline", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Premium Sub-Headline", "ng-bind"=>"!is_admin && petition.premium_subheadline || ''"}
		.row
			.col-md-6.top-content-wrapper
				%div#petition-image-wrapper{"image-upload-overlay"=>"", "title"=>"Add Logo", "notes"=>"Recommended image size: 350x350px", "image-name"=>"premium_image"}
					%div#petition-image{"ng-style" => "premium_image_styling()"}
			.col-md-6.vertical-middle-table.panel.panel-default
				%div.signature-form-container.vertical-middle-cell
					.form-group
						.col-md-6.text-left
							%input.form-control{"type"=>"text", "placeholder"=>"First Name"}
						.col-md-6.text-left
							%input.form-control{"type"=>"text", "placeholder"=>"Last Name"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%", "type"=>"text","placeholder"=>"Street Address 1"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%", "type"=>"text", "placeholder"=>"Street Address 2"}
					.form-group
						.col-md-12.text-left
							%inpu.form-controlt{:style=>"width: 100%","type"=>"text", "placeholder"=>"City"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%","type"=>"text", "placeholder"=>"State"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%","type"=>"text", "placeholder"=>"Zip Code"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%","type"=>"text", "placeholder"=>"Phone Number"}
					.form-group
						.col-md-12.text-left
							%input.form-control{:style=>"width: 100%","type"=>"text", "placeholder"=>"Email Address"}
					.form-group
						.col-md-12.text-center
							%button.btn.btn-primary
								%span.contenteditable.placeholder-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.premium_call_to_action_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Call to Action Button", "ng-bind"=>"!is_admin && petition.premium_call_to_action_button_text || ''"}
.client-logo-wrapper
	.client-logo.text-center#client-logo-bottom
		%img{"ng-src" => "{{client_image_url()}}"}