.client-logo-wrapper
	.client-logo.text-center#client-logo-top
		%img{"ng-src" => "{{client_image_url()}}"}
.container#petition-container
	#petition-headline.section-header.text-center
		%h2.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.headline_primary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Petition Headline", "name"=>"headline_primary", "required"=>""}
		%h5.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.headline_secondary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Petition Sub-Headline"}
	#signature-container-wrapper{"data-facebook" => Settings.facebook_app_id }
		.panel.panel-default.panel-indented
			.row#petition-subheadline
				.col-md-12
					%h4.text-center.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.subheadline", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Petition Sub-Headline"}
			.row
				.col-md-6.top-content-wrapper#petition-image-wrapper{"image-upload-overlay"=>"", "title"=>"Add Petition Image", "notes"=>"Recommended image size: 350x350px", "image-name"=>"image_full"}
					.panel
						#petition-image{"ng-style" => "signature_image_styling()"}
				.col-md-6.top-content-wrapper#signature-form-wrapper
					.panel
						#signature-form-container
							.row.bottom-margin
								.col-md-12.text-center
									%button.btn.btn-primary#sign-with-facebook-button{"ng-click" => "fetch()", "custompopover" => "{{error_messages.sign_with_facebook}}",  "custompopover-toggle" =>"error_messages.sign_with_facebook.length > 0", "custompopover-trigger" => "manual", "custompopover-placement" => "bottom"}
										%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.sign_with_facebook_cta_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Call to Action Text", "name"=>"sign_with_facebook_cta_button_text", "required"=>""}
							.row.text-center.bottom-margin#signature-form-or-container
								%h6
									%span
										Or
							%div#sign-with-email-address-wrapper{"ng-switch"=>"is_admin"}
								%form{"ng-switch-when"=>"false", "name"=>"sign_with_email_form", "novalidate"=>"", "ng-class"=>"form_styling()"}
									.form-group.clearfix
										.col-md-6.text-left#first-name-wrapper
											%input.form-control#first-name{"ng-model"=>"signature.first_name","type"=>"text", "placeholder"=>"First Name", "name"=>"first_name", "required"=>""}
										.col-md-6.text-left#last-name-wrapper
											%input.form-control#last-name{"ng-model"=>"signature.last_name","type"=>"text", "placeholder"=>"Last Name", "required"=>""}
									.form-group
										%input.form-control{"ng-model"=>"signature.email_address","type"=>"text","placeholder"=>"Email Address", "required"=>""}
									.form-group
										%input.form-control{"ng-model"=>"signature.zip_code","type"=>"text", "placeholder"=>"Zip Code", "required"=>""}
									%button.btn.btn-primary#sign-with-email-address-button{"ng-click"=>"sign_with_email_address(sign_with_email_form)", "custompopover" => "{{error_messages.sign_with_email_address}}",  "custompopover-toggle" =>"error_messages.sign_with_email_address.length > 0", "custompopover-trigger" => "manual", "custompopover-placement" => "top"}
										%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.sign_with_email_cta_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Call to Action Text", "name"=>"sign_with_email_cta_button_text", "required"=>""}
								%div{"ng-switch-when"=>"true"}
									.form-group.clearfix
										.col-md-6.text-left#first-name-wrapper
											%input.form-control#first-name{"ng-model"=>"signature.first_name","type"=>"text", "placeholder"=>"First Name", "name"=>"first_name"}
										.col-md-6.text-left#last-name-wrapper
											%input.form-control#last-name{"ng-model"=>"signature.last_name","type"=>"text", "placeholder"=>"Last Name"}
									.form-group
										%input.form-control{"ng-model"=>"signature.email_address","type"=>"text","placeholder"=>"Email Address"}
									.form-group
										%input.form-control{"ng-model"=>"signature.zip_code","type"=>"text", "placeholder"=>"Zip Code"}
									%button.btn.btn-primary#sign-with-email-address-button{"ng-click" => "go_to_delivery()"}
										%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.sign_with_email_cta_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Call to Action Text", "name"=>"sign_with_email_cta_button_text", "required"=>""}

			#signature-count-outer-wrapper
				#signature-count-wrapper
					.progress-wrapper
						.progress
							.progress-bar{:style => "width: {{calulate_petition_signature_percentage()}}%;", "role"=>"progressbar", "aria-valuenow"=>"{{calulate_petition_signature_percentage()}}", "aria-valuemin"=>"0", "aria-valuemax"=>"100"}
							.target-count
								%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.target_count", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Target Number of Signatures","name"=>"target_count", "required"=>""}
						#signature-count{:style=>"left: {{calulate_petition_signature_percentage()}}%"}
							{{get_number_of_signatures()}}
	#petition-summary-header.section-header.text-left
		Petition
	#petition-summary-wrapper.panel.panel-default.panel-indented
		%p.text-left.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.summary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Petition Summary", "name"=>"summary", "required"=>""}
	#user-signature-header.section-header.text-left
		Signers
	%div{"ng-controller" => "CommentController"}
		#user-signature-wrapper.panel.panel-default.panel-indented.clearfix
			%ul#user-signature-list{"ng-show"=>"comments.items.length > 0"}
				%li.user-signature-item{"ng-repeat" => "signature in comments.items | orderBy: 'created_at':true"}
					%div.media.thumbnail{:style=>"margin-bottom: 0px"}
						%a.pull-left
							.media-object.avatar{"ng-style" => "get_avatar_url(signature)"}
						.media-body
							.comment
								.row
									.col-md-6
										.user-name
											{{signature.user.first_name + " " + signature.user.last_name}}
									.col-md-6.text-right
										.location
											{{format_signature_location(signature)}}
								.comment-timeago
									Signed {{signature.created_at | fromNow }}         
			%p.text-left{:style=>"padding: 0px 20px", "ng-hide"=>"comments.items.length > 0"}
				Be the first to sign this petition.
		.bottom-margin#more-signers-button-wrapper
			%button.btn.btn-primary#more-signers-button{"ng-hide"=>"comments.items.length >= comments.total", "ng-click"=>"show_more_signatures_click()"}
				%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.signature_more_signers_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"More Signers Button Text", "name"=>"signature_more_signers_button_text","required"=>""}
.client-logo-wrapper
	.client-logo.text-center#client-logo-bottom
		%img{"ng-src" => "{{client_image_url()}}"}