/*Imported styles based on screen size of viewing device*/
/*This creates the responsive design*/
@media only screen and (max-width: 959px) {
  /*@import 'size/mobile';*/
  /* line 7, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #client-logo-top img {
    max-width: 300px;
  }
  /* line 10, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #client-logo-bottom img {
    max-width: 350px;
    height: 50px;
  }
  /* line 15, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #petition-image {
    background-size: 250px 250px;
    background-repeat: no-repeat;
    height: 250px;
  }
  /* line 20, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container .top-content-wrapper {
    min-height: 0px;
  }
  /* line 23, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #petition-image-wrapper {
    margin-bottom: 20px;
  }
  /* line 27, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-facebook-button {
    width: 100%;
  }
  /* line 31, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #sign-with-email-address-button {
    width: 100%;
  }
  /* line 34, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #first-name-wrapper {
    padding: 0px;
    margin-bottom: 5px;
  }
  /* line 38, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #last-name-wrapper {
    padding: 0px;
  }
  /* line 44, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #sign-with-email-address-button {
    width: 100%;
  }
  /* line 47, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #first-name-wrapper {
    padding: 0px;
    margin-bottom: 5px;
  }
  /* line 51, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #last-name-wrapper {
    padding: 0px;
  }
  /* line 56, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-count-wrapper #signers-count {
    float: left;
    width: auto;
  }
  /* line 60, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-count-wrapper #target-count {
    width: auto;
  }
  /* line 65, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #user-signature-wrapper .user-signature-item {
    width: 100%;
  }
  /* line 67, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #user-signature-wrapper .user-signature-item .media {
    margin-bottom: 0px;
  }
  /* line 69, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #user-signature-wrapper .user-signature-item .media .pull-left {
    float: left;
  }
  /* line 75, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #user-signature-wrapper .comment .location-wrapper {
    text-align: left;
  }
  /* line 78, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #user-signature-wrapper .comment .comment-timeago {
    font-size: 1em;
    line-height: 1em;
  }
  /* line 85, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #more-signers-button-wrapper #more-signers-button {
    width: 100%;
  }
  /* line 90, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #more-tweets-button-wrapper #more-tweets-button {
    width: 100%;
  }
}
@media only screen and (max-width: 449px) {
  /*@import 'size/portrait';*/
}
@media only screen and (min-width: 450px) and (max-width: 959px) {
  /*@import 'size/landscape';*/
}
@media only screen and (min-width: 960px) {
  /* line 106, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #client-logo-top img {
    height: 100%;
  }
  /* line 109, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #client-logo-bottom img {
    height: 50px;
  }
  /* line 112, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container .vertical-middle-table {
    min-height: 350px;
    display: table;
  }
  /* line 115, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container .vertical-middle-table .vertical-middle-cell {
    display: table-cell;
    vertical-align: middle;
    height: 310px;
  }
  /* line 121, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container {
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  /* line 125, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container .section-header:before {
    content: "";
    width: 0;
    height: 0;
    border: 36px  solid transparent;
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #070707;
    bottom: -10px;
    right: -36px;
  }
  /* line 140, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container .section-header:after {
    content: "";
    width: 0;
    height: 0;
    border: 36px  solid transparent;
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #070707;
    bottom: -10px;
    left: -36px;
  }
  /* line 155, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper {
    min-height: 350px;
    display: table;
  }
  /* line 158, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #signature-form-container {
    height: 310px;
  }
  /* line 162, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #first-name-wrapper {
    padding: 0px 5px 0px 0px;
  }
  /* line 165, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #last-name-wrapper {
    padding: 0px 0px 0px 5px;
  }
  /* line 171, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #sign-with-email-address-button {
    width: 100%;
  }
  /* line 174, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #first-name-wrapper {
    padding: 0px 5px 0px 15px;
  }
  /* line 177, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #premium-form-wrapper #last-name-wrapper {
    padding: 0px 15px 0px 5px;
  }
  /* line 182, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #more-signers-button-wrapper #more-signers-button {
    min-width: 400px;
  }
  /* line 187, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #action-container #petition-container #more-tweets-button-wrapper #more-tweets-button {
    min-width: 400px;
  }
}
