/* line 2, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container h1, #action-container h2, #action-container h3, #action-container h4, #action-container h5, #action-container h6, #action-container p, #action-container .section-header, #action-container button {
  font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 5, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}
/* line 10, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container h4 {
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
}
/* line 15, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
/* line 20, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container button {
  font-weight: 300;
}
/* line 23, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .panel {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 29, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .panel-indented {
  margin: 0px 16px 20px 16px;
  padding: 0px 5% 20px 5%;
}
/* line 33, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .client-logo-wrapper {
  display: table;
  width: 100%;
}
/* line 37, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .client-logo {
  display: table-cell;
  vertical-align: middle;
  background: #dddddd;
  padding: 10px 0px;
}
/* line 43, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .section-header {
  background-color: #dddddd;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 300;
  padding: 2px 22px;
  position: relative;
  z-index: 1000;
  letter-spacing: 4px;
}
/* line 53, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .btn-primary {
  background-color: #dddddd;
}
/* line 56, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container .disclaimer {
  margin: 20px auto 10px auto;
  padding: 4px;
  max-width: 300px;
  font-size: .92em;
  color: #5e5e5e;
  border: solid 1px #5e5e5e;
}
/* line 65, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container h2, #action-container #delivery-container h2, #action-container #premium-container h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}
/* line 70, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .drop-shadow-full, #action-container #delivery-container .drop-shadow-full, #action-container #premium-container .drop-shadow-full {
  -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
}
/* line 74, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .drop-shadow-full textarea, #action-container #delivery-container .drop-shadow-full textarea, #action-container #premium-container .drop-shadow-full textarea {
  padding: 10px;
  color: #757a80;
  border: none;
  box-shadow: none;
  resize: none;
  height: 120px;
  font-size: 15px;
  font-family: 'Lato-Regular', sans-serif;
  background-color: transparent;
}
/* line 85, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .drop-shadow-full #message-counter, #action-container #delivery-container .drop-shadow-full #message-counter, #action-container #premium-container .drop-shadow-full #message-counter {
  padding-right: 0.935em;
  padding-bottom: 4px;
}
/* line 90, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-headline, #action-container #petition-container #delivery-headline, #action-container #petition-container #premium-headline, #action-container #delivery-container #petition-headline, #action-container #delivery-container #delivery-headline, #action-container #delivery-container #premium-headline, #action-container #premium-container #petition-headline, #action-container #premium-container #delivery-headline, #action-container #premium-container #premium-headline {
  background-color: #dddddd;
  color: #ffffff;
  margin: 18px 0px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
}
/* line 97, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-headline h2, #action-container #petition-container #delivery-headline h2, #action-container #petition-container #premium-headline h2, #action-container #delivery-container #petition-headline h2, #action-container #delivery-container #delivery-headline h2, #action-container #delivery-container #premium-headline h2, #action-container #premium-container #petition-headline h2, #action-container #premium-container #delivery-headline h2, #action-container #premium-container #premium-headline h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 101, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-headline h5, #action-container #petition-container #delivery-headline h5, #action-container #petition-container #premium-headline h5, #action-container #delivery-container #petition-headline h5, #action-container #delivery-container #delivery-headline h5, #action-container #delivery-container #premium-headline h5, #action-container #premium-container #petition-headline h5, #action-container #premium-container #delivery-headline h5, #action-container #premium-container #premium-headline h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 107, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-subheadline h4, #action-container #delivery-container #petition-subheadline h4, #action-container #premium-container #petition-subheadline h4 {
  margin: 16px 0px 20px 0px;
}
/* line 111, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-headline:before, #action-container #petition-container #delivery-headline:before, #action-container #petition-container #premium-headline:before, #action-container #delivery-container #petition-headline:before, #action-container #delivery-container #delivery-headline:before, #action-container #delivery-container #premium-headline:before, #action-container #premium-container #petition-headline:before, #action-container #premium-container #delivery-headline:before, #action-container #premium-container #premium-headline:before {
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 36px solid #070707;
  bottom: -20px;
  right: -36px;
}
/* line 118, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-headline:after, #action-container #petition-container #delivery-headline:after, #action-container #petition-container #premium-headline:after, #action-container #delivery-container #petition-headline:after, #action-container #delivery-container #delivery-headline:after, #action-container #delivery-container #premium-headline:after, #action-container #premium-container #petition-headline:after, #action-container #premium-container #delivery-headline:after, #action-container #premium-container #premium-headline:after {
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 36px solid #070707;
  bottom: -20px;
  left: -36px;
}
/* line 126, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-container-wrapper .panel-indented, #action-container #petition-container #delivery-container-wrapper .panel-indented, #action-container #delivery-container #signature-container-wrapper .panel-indented, #action-container #delivery-container #delivery-container-wrapper .panel-indented, #action-container #premium-container #signature-container-wrapper .panel-indented, #action-container #premium-container #delivery-container-wrapper .panel-indented {
  margin: 0px 36px 18px 36px;
  padding-bottom: 50px;
}
/* line 131, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .btn-primary, #action-container #delivery-container .btn-primary, #action-container #premium-container .btn-primary {
  margin: 0px auto 0px auto;
  display: block;
  padding: 10px 10%;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#13b6e5), to(#0c9dcb));
  background: -moz-linear-gradient(top, #13b6e5, #0c9dcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13b6e5', endColorstr='#0c9dcb');*/
  font-size: 1.2em;
  line-height: 1.4;
  border: none;
  -webkit-text-stroke-width: 0.1px;
  padding: none;
  text-shadow: none;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  -webkit-box-shadow: 0 8px 6px -5px #9e9e9e;
  -moz-box-shadow: 0 8px 6px -5px #9e9e9e;
  box-shadow: 0 8px 6px -5px #9e9e9e;
}
/* line 151, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .bottom-margin, #action-container #delivery-container .bottom-margin, #action-container #premium-container .bottom-margin {
  margin-bottom: 20px;
}
/* line 154, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container .top-content-wrapper, #action-container #delivery-container .top-content-wrapper, #action-container #premium-container .top-content-wrapper {
  min-height: 350px;
}
/* line 157, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-image, #action-container #delivery-container #petition-image, #action-container #premium-container #petition-image {
  background-size: 350px 350px;
  background-repeat: no-repeat;
  height: 350px;
}
/* line 162, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #delivery-container, #action-container #delivery-container #delivery-container, #action-container #premium-container #delivery-container {
  padding-top: 40px;
}
/* line 165, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #premium-container, #action-container #delivery-container #premium-container, #action-container #premium-container #premium-container {
  padding-top: 40px;
}
/* line 169, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper .form-group, #action-container #delivery-container #signature-form-wrapper .form-group, #action-container #premium-container #signature-form-wrapper .form-group {
  margin-bottom: 5px;
}
/* line 172, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #sign-with-facebook-button span:before, #action-container #delivery-container #signature-form-wrapper #sign-with-facebook-button span:before, #action-container #premium-container #signature-form-wrapper #sign-with-facebook-button span:before {
  font-family: "FontAwesome";
  content: "\f09a";
  font-size: 1.15em;
  margin-right: .4em;
}
/* line 178, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #sign-with-facebook-button, #action-container #delivery-container #signature-form-wrapper #sign-with-facebook-button, #action-container #premium-container #signature-form-wrapper #sign-with-facebook-button {
  width: 100%;
  height: 56px;
}
/* line 182, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #signature-form-or-container, #action-container #delivery-container #signature-form-wrapper #signature-form-or-container, #action-container #premium-container #signature-form-wrapper #signature-form-or-container {
  margin: 36px 0px;
}
/* line 184, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #signature-form-or-container h6, #action-container #delivery-container #signature-form-wrapper #signature-form-or-container h6, #action-container #premium-container #signature-form-wrapper #signature-form-or-container h6 {
  font-size: 24px;
  text-transform: lowercase;
  border-top: 1px solid black;
  margin: 20px 0 0 0;
}
/* line 190, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #signature-form-or-container h6 span, #action-container #delivery-container #signature-form-wrapper #signature-form-or-container h6 span, #action-container #premium-container #signature-form-wrapper #signature-form-or-container h6 span {
  position: relative;
  top: -15px;
  padding: 0 20px;
  background: white;
}
/* line 198, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper input, #action-container #delivery-container #signature-form-wrapper #sign-with-email-address-wrapper input, #action-container #premium-container #signature-form-wrapper #sign-with-email-address-wrapper input {
  width: 100%;
}
/* line 201, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #sign-with-email-address-button, #action-container #delivery-container #signature-form-wrapper #sign-with-email-address-wrapper #sign-with-email-address-button, #action-container #premium-container #signature-form-wrapper #sign-with-email-address-wrapper #sign-with-email-address-button {
  margin-top: 20px;
  width: 100%;
  height: 56px;
}
/* line 208, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper, #action-container #delivery-container #signature-count-wrapper, #action-container #premium-container #signature-count-wrapper {
  margin-top: 20px;
  /* shared with before and after */
}
/* line 210, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper .progress-wrapper, #action-container #delivery-container #signature-count-wrapper .progress-wrapper, #action-container #premium-container #signature-count-wrapper .progress-wrapper {
  position: relative;
  border-radius: 21px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #838487), color-stop(0.67, #d0d1d2));
  background-image: -moz-linear-gradient(center bottom, #838487 33%, #d0d1d2 67%);
  padding: 4px 3px;
}
/* line 217, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper .progress, #action-container #delivery-container #signature-count-wrapper .progress, #action-container #premium-container #signature-count-wrapper .progress {
  margin-bottom: 0px;
  position: relative;
  height: 42px;
  border-radius: 21px;
  margin: 0px 1px;
  /* fallback */
  background-color: #d0d1d3;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d1d3), to(#858689));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #858689, #d0d1d3);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #858689, #d0d1d3);
  /* IE 10 */
  background: -ms-linear-gradient(top, #858689, #d0d1d3);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #858689, #d0d1d3);
}
/* line 243, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper .progress-bar, #action-container #delivery-container #signature-count-wrapper .progress-bar, #action-container #premium-container #signature-count-wrapper .progress-bar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ed3d32), to(#a31e21));
  background-image: -webkit-linear-gradient(top, #ed3d32, 0%, #a31e21, 100%);
  background-image: -moz-linear-gradient(top, #ed3d32 0%, #a31e21 100%);
  background-image: linear-gradient(to bottom, #ed3d32 0%, #a31e21 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFed3d32, endColorstr=#FFa31e21, GradientType=0);
  border-bottom: 2px solid #8c1a1d;
}
/* line 252, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper .target-count, #action-container #delivery-container #signature-count-wrapper .target-count, #action-container #premium-container #signature-count-wrapper .target-count {
  position: absolute;
  right: 20px;
  top: 0px;
  line-height: 41px;
  color: #ed0000;
  font-size: 1.4em;
  font-weight: 800;
}
/* line 261, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper #signature-count, #action-container #delivery-container #signature-count-wrapper #signature-count, #action-container #premium-container #signature-count-wrapper #signature-count {
  position: absolute;
  left: 2%;
  width: 50px;
  margin-top: 10px;
  background: #00a3d2;
  color: white;
  z-index: 20000;
  margin-left: -23px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}
/* line 276, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #signature-count-wrapper #signature-count:after, #action-container #delivery-container #signature-count-wrapper #signature-count:after, #action-container #premium-container #signature-count-wrapper #signature-count:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  /* arrow size */
  border-bottom-color: #00a3d2;
  /* arrow color */
  /* positioning */
  position: absolute;
  top: -20px;
  left: 15px;
  z-index: 2;
}
/* line 291, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-summary-wrapper, #action-container #delivery-container #petition-summary-wrapper, #action-container #premium-container #petition-summary-wrapper {
  padding: 0px 20px;
}
/* line 293, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #petition-summary-wrapper p, #action-container #delivery-container #petition-summary-wrapper p, #action-container #premium-container #petition-summary-wrapper p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333333;
  font-size: 1.24em;
}
/* line 300, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper, #action-container #delivery-container #user-signature-wrapper, #action-container #premium-container #user-signature-wrapper {
  padding: 0px 0px;
}
/* line 302, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper p, #action-container #delivery-container #user-signature-wrapper p, #action-container #premium-container #user-signature-wrapper p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333333;
  font-size: 1.24em;
}
/* line 308, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper ul, #action-container #delivery-container #user-signature-wrapper ul, #action-container #premium-container #user-signature-wrapper ul {
  padding: 0px;
  margin: 0px;
}
/* line 312, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper #user-signature-list, #action-container #delivery-container #user-signature-wrapper #user-signature-list, #action-container #premium-container #user-signature-wrapper #user-signature-list {
  list-style-type: none;
}
/* line 315, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .user-signature-item, #action-container #delivery-container #user-signature-wrapper .user-signature-item, #action-container #premium-container #user-signature-wrapper .user-signature-item {
  width: 50%;
  float: left;
}
/* line 319, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .media, #action-container #delivery-container #user-signature-wrapper .media, #action-container #premium-container #user-signature-wrapper .media {
  border-left: none;
  border-top: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
/* line 325, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .avatar, #action-container #delivery-container #user-signature-wrapper .avatar, #action-container #premium-container #user-signature-wrapper .avatar {
  width: 128px;
}
/* line 328, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .media-body, #action-container #delivery-container #user-signature-wrapper .media-body, #action-container #premium-container #user-signature-wrapper .media-body {
  text-align: left;
  height: 128px;
}
/* line 332, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .comment, #action-container #delivery-container #user-signature-wrapper .comment, #action-container #premium-container #user-signature-wrapper .comment {
  padding: 10% 4% 10% 0;
}
/* line 334, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .comment .user-name, #action-container #delivery-container #user-signature-wrapper .comment .user-name, #action-container #premium-container #user-signature-wrapper .comment .user-name {
  font-size: 1.8em;
  font-weight: 800;
  color: #27aae1;
}
/* line 339, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .comment .location, #action-container #delivery-container #user-signature-wrapper .comment .location, #action-container #premium-container #user-signature-wrapper .comment .location {
  font-size: 1.2em;
  font-weight: 300;
}
/* line 343, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #user-signature-wrapper .comment .comment-timeago, #action-container #delivery-container #user-signature-wrapper .comment .comment-timeago, #action-container #premium-container #user-signature-wrapper .comment .comment-timeago {
  font-size: 1.2em;
  font-weight: 300;
}
/* line 351, ../../../app/assets/stylesheets/layouts/layout2.css.scss */
#action-container #petition-container #more-signers-button-wrapper #more-signers-button, #action-container #delivery-container #more-signers-button-wrapper #more-signers-button, #action-container #premium-container #more-signers-button-wrapper #more-signers-button {
  height: 56px;
}
