/*Imported styles based on screen size of viewing device*/
/*This creates the responsive design*/
@media only screen and (max-width: 959px) {
  /*@import 'size/mobile';*/
  /* line 6, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #client-logo-top img {
    max-width: 350px;
  }

  /* line 9, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #client-logo-bottom img {
    max-width: 350px;
    height: 50px;
  }

  /* line 14, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #petition-image-wrapper {
    margin-bottom: 20px;
  }
  /* line 18, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-facebook-button {
    width: 100%;
  }
  /* line 22, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #sign-with-email-address-button {
    width: 100%;
  }
  /* line 25, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #first-name-wrapper {
    padding: 0px;
    margin-bottom: 5px;
  }
  /* line 29, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #last-name-wrapper {
    padding: 0px;
  }
  /* line 35, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-count-wrapper #signers-count {
    float: left;
    width: auto;
  }
  /* line 39, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-count-wrapper #target-count {
    width: auto;
  }
  /* line 44, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #user-signature-wrapper .user-signature-item {
    width: 100%;
  }
  /* line 47, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #user-signature-wrapper .user-signature-item .media .pull-left {
    float: left;
  }
  /* line 54, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #more-signers-button-wrapper #more-signers-button {
    width: 100%;
  }
  /* line 59, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #more-tweets-button-wrapper #more-tweets-button {
    width: 100%;
  }
}
@media only screen and (max-width: 449px) {
  /*@import 'size/portrait';*/
}
@media only screen and (min-width: 450px) and (max-width: 959px) {
  /*@import 'size/landscape';*/
}
@media only screen and (min-width: 960px) {
  /* line 73, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #client-logo-top img {
    height: 100%;
  }

  /* line 76, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #client-logo-bottom img {
    height: 50px;
  }

  /* line 79, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  .vertical-middle-table {
    min-height: 350px;
    display: table;
  }
  /* line 82, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  .vertical-middle-table .vertical-middle-cell {
    display: table-cell;
    vertical-align: middle;
    height: 310px;
  }

  /* line 88, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container {
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  /* line 92, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container .panel-indented {
    margin: 0px 36px 18px 36px;
  }
  /* line 95, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container .section-header {
    margin: 0px 20px;
  }
  /* line 98, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container .section-header:before {
    content: "";
    width: 0;
    height: 0;
    border: 36px solid transparent;
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #070707;
    bottom: -10px;
    right: -36px;
  }
  /* line 113, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container .section-header:after {
    content: "";
    width: 0;
    height: 0;
    border: 36px solid transparent;
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #070707;
    bottom: -10px;
    left: -36px;
  }
  /* line 128, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper {
    min-height: 350px;
    display: table;
  }
  /* line 131, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #signature-form-container {
    height: 310px;
  }
  /* line 135, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #first-name-wrapper {
    padding: 0px 5px 0px 0px;
  }
  /* line 138, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #signature-form-wrapper #sign-with-email-address-wrapper #last-name-wrapper {
    padding: 0px 0px 0px 5px;
  }
  /* line 144, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #more-signers-button-wrapper #more-signers-button {
    min-width: 400px;
  }
  /* line 149, ../../../app/assets/stylesheets/layouts/layout2-responsive.css.scss */
  #petition-container #more-tweets-button-wrapper #more-tweets-button {
    min-width: 400px;
  }
}
