.row{"ng-controller"=>"NationBuilderController"}
	.col-md-10.col-md-offset-1
		%h1 CRMs
		%div.panel{:style=>"padding: 50px 40px"}
			%p{:style=>"margin-bottom: 0px; font-size: 1.2em;"}
				Snaptivist makes it easy to integrate with your favorite CRMs.  We support the following CRMs.  Click the CRM you wish to integrate and we'll sync your information from Snaptivist in real time. >>
		.row
			.col-md-4
				%a{"ng-href"=>"#/nation_builder"}
					.panel.text-center{:style=>"height: 220px; padding: 10px;"}
						%img{"src"=>"/assets/nationbuilder-logo.jpg", :style=>"max-height: 120px; margin-top: 20px;"}
						%h2
							Nation Buider
