
<script id="snaptivist-widget" petition-id="3" type="text/javascript" src="/assets/dashboard/widgets/index.js"></script>
<div id="snap-widget" ng-app="widgets" ng-cloak="">
	<div ng-view="" />
</div>