%div#action-container{"ng-view"=> ""}

= angular_templates 'client_views'
= angular_templates 'client_views/layout1'
= angular_templates 'client_views/layout2'

%div{"loading-screen" => "loading.show_spinner"}
