<h1>President Obama:<h1>
<h2><%= @petition.title %></h2>
<h4><%= @petition.summary %><h4>
<div class="bar">
</div>
Signers: 3
Goal <%= @petition.target_count %>
<button>Sign  with Facebook</button>
OR
<textarea rows="6" name="comments" style="width: 98%" placeholder="Tell people why your signing..."></textarea>

