%div{"segment-config"=>"", "segment"=>"segment", "is-admin"=>"isAdmin"}
  %div{"ng-comments"=>"", "campaign"=>"campaign", "segment"=>"segment", "action"=>"action", "content"=>"content", "is-admin"=>"isAdmin"}