#disclaimer-text.segment-wrapper{:style=>"max-width: 300px; margin: 20px auto 10px auto;","segment-config"=>"", "segment"=>"segment", "is-admin"=>"isAdmin"}
	.segment-inner-wrapper
		.disclaimer.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "segment.text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Disclaimer Text", "name"=>"disclaimer_text", "segment-config"=>"", "segment"=>"segment", "is-admin"=>"isAdmin"}