.segment-outer-wrapper
	%div.segment-wrapper{"segment-config"=>"", "is-admin"=>"isAdmin", "segment"=>"segment"}
		.segment-inner-wrapper
			%iframe{"allowfullscreen"=>"", "frameborder"=>"0", "height"=>"{{segment.height}}", "ng-src"=>"{{format_video_embed_url()}}", "width"=>"{{segment.width}}"}