.segment-outer-wrapper
	.segment-wrapper{"style"=>"position: relative; max-width: {{segment_width}}; margin: 0px auto;", "segment-config"=>"", "title"=>"{{image_overlay_title}}", "notes"=>"{{image_overlay_notes}}", "image-name"=>"image_full", "is-admin"=>"isAdmin", "segment"=>"segment","temp-image"=>"temp_image"}
		.client-logo-wrapper
			.client-logo
				.segment-inner-wrapper.drop-shadow.lifted#header-image{"ng-style" => "image_styling(segment)"}