.segment-wrapper{"segment-config"=>"", "segment"=>"segment", "is-admin"=>"isAdmin"}
	.segment-inner-wrapper
		%span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "segment.text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"{{placeholder}}", "is-admin"=>"isAdmin"}