/*Imported styles based on screen size of viewing device*/
/*This creates the responsive design*/
@media only screen and (max-width:959px) {
  /*@import 'size/mobile';*/
}
@media only screen and (max-width:449px) {
  /*@import 'size/portrait';*/
	  #action-container {
	  	#header-image {
	  		height: 88px;
	  		width: auto;
			max-width: 300px;
		}
		#sign-with-fb-button {
			white-space: nowrap;
			font-size: 20px;
		}
		#deliver-signature {
			white-space: nowrap;
			font-size: 20px;
		}
		#comment-container {
			.comment {
				margin-bottom: 5px;
				.avatar {
					width: 90px;
					height: 90px;
				}
			}
		}
	}
}
@media only screen and (min-width:450px) and (max-width:959px) {
  /*@import 'size/landscape';*/
	  #action-container {
	  	#header-image {
	  		height: 88px;
	  		width: auto;
			max-width: 450px;
		}
		#sign-with-fb-button {
			white-space: nowrap;
			font-size: 20px;
		}
		#deliver-signature {
			white-space: nowrap;
			font-size: 20px;
		}
		#comment-container {
			.comment {
				margin-bottom: 5px;
				.avatar {
					width: 90px;
					height: 90px;
				}
			}
		}
	}
}

@media only screen and (min-width:960px) {

}
