#action-container {
	h1, h2, h3, h4, h5, h6, p, .section-header, button {
		font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	}
	h2 {
		font-weight: 400;
		font-size: 64px;
		line-height: 64px;
	}
	h4 {
		font-weight: 300;
		font-size: 32px;
		line-height: 32px;
	}
	h5 {
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
	}
	button {
		font-weight: 300;
	}
	.panel {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.panel-indented {
		margin: 0px 16px 20px 16px;
		padding: 0px 5% 20px 5%;
	}
	.client-logo-wrapper {
        display: table;
        width: 100%;
    }
    .client-logo {
        display: table-cell;
        vertical-align: middle;
      	background: #dddddd;
		padding: 10px 0px;
	}
	.section-header {
		background-color: #dddddd;
		color: #ffffff;
		font-size: 1.8em;
		font-weight: 300;
		padding: 2px 22px;
		position: relative;
		z-index: 1000;
		letter-spacing: 4px
	}
	.btn-primary {
		background-color: #dddddd;	
	}
	.disclaimer {
		margin: 20px auto 10px auto;
		padding: 4px;
		max-width: 300px;
		font-size: .92em;
		color: #5e5e5e;
		border: solid 1px #5e5e5e;
	}
	#petition-container, #delivery-container, #premium-container {
		h2 {
			font-weight: 400;
			font-size: 48px;
			line-height: 48px;
		}
		.drop-shadow-full {
		    -moz-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
		    -webkit-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
		    box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25); 
		    textarea {
		    	padding: 10px;
				color: #757a80;
			    border:none;
			    box-shadow: none;
			    resize: none;
			    height: 120px;
			    font-size: 15px;
			    font-family: 'Lato-Regular', sans-serif;
			    background-color: transparent;
			}
			#message-counter {
		      padding-right: 0.935em;
		      padding-bottom: 4px;
		    } 
		}
		#petition-headline, #delivery-headline, #premium-headline {
			background-color: #dddddd;
			color: #ffffff;
			margin: 18px 0px 0px 0px;
			margin-left: 0px;
			margin-right: 0px;
			padding-bottom: 10px;
			h2 {
				margin-top: 0px;
				margin-bottom: 0px;
			}
			h5 {
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
		#petition-subheadline {
			h4 {
				margin: 16px 0px 20px 0px
			}
		}
		#petition-headline:before, #delivery-headline:before, #premium-headline:before { 
			border-top: 0px solid transparent;
			border-bottom: 20px solid transparent; 
			border-left:36px solid #070707; 
			bottom: -20px; 
			right: -36px;
		}
		#petition-headline:after, #delivery-headline:after, #premium-headline:after { 
			border-top: 0px solid transparent;
			border-bottom: 20px solid transparent; 
			border-right:36px solid #070707; 
			bottom: -20px; 
			left: -36px;
		}	
		#signature-container-wrapper, #delivery-container-wrapper {
			.panel-indented {
				margin: 0px 36px 18px 36px;
				padding-bottom: 50px;
			}
		}
		.btn-primary {
			margin: 0px auto 0px auto;
			display: block;
			padding: 10px 10%;
			/*background: -webkit-gradient(linear, left top, left bottom, from(#13b6e5), to(#0c9dcb));
			background: -moz-linear-gradient(top, #13b6e5, #0c9dcb);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13b6e5', endColorstr='#0c9dcb');*/
			font-size: 1.2em;
			line-height: 1.4;
			border: none;
			-webkit-text-stroke-width: 0.1px;
			padding: none;
			text-shadow: none;
			-webkit-border-radius: 0em;
			-moz-border-radius: 0em;
			border-radius: 0em;
			-webkit-box-shadow: 0 8px 6px -5px #9e9e9e;
			-moz-box-shadow: 0 8px 6px -5px #9e9e9e;
			box-shadow: 0 8px 6px -5px #9e9e9e;
		}
		.bottom-margin {
			margin-bottom: 20px;
		}
		.top-content-wrapper {
			min-height: 350px;
		}
		#petition-image {
			background-size: 350px 350px;
			background-repeat: no-repeat;
			height: 350px;
		}
		#delivery-container {
			padding-top: 40px;
		}
		#premium-container {
			padding-top: 40px;
		}
		#signature-form-wrapper {
			.form-group {
				margin-bottom: 5px;
			}
			#sign-with-facebook-button span:before {
				font-family: "FontAwesome";
				content: "\f09a";
				font-size: 1.15em;
				margin-right: .4em;
			}
			#sign-with-facebook-button {
				width: 100%;
				height: 56px;
			}
			#signature-form-or-container{	
				margin: 36px 0px;
				h6 {
					font-size: 24px;
					text-transform: lowercase;
					border-top: 1px solid black; 
					margin: 20px 0 0 0; 
				}
				h6 span { 
					position: relative; 
					top: -15px; 
					padding: 0 20px; 
					background: white;
				}
			}
			#sign-with-email-address-wrapper {
				input {
					width: 100%;
				}
				#sign-with-email-address-button {
					margin-top: 20px;
					width: 100%;
					height: 56px;
				}
			}
		}
		#signature-count-wrapper {
			margin-top: 20px;
			.progress-wrapper {
				position: relative;
				border-radius: 21px;
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #838487), color-stop(0.67, #d0d1d2));
				background-image: -moz-linear-gradient(center bottom, #838487 33%, #d0d1d2 67% );
				padding: 4px 3px;
			}
			.progress {
				margin-bottom: 0px;
				position: relative;
				height: 42px;
				border-radius: 21px;
				margin: 0px 1px;
				/* fallback */
				background-color: #d0d1d3;
				background: url(images/linear_bg_2.png);
				background-repeat: repeat-x;

				/* Safari 4-5, Chrome 1-9 */
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d1d3), to(#858689));

				/* Safari 5.1, Chrome 10+ */
				background: -webkit-linear-gradient(top, #858689, #d0d1d3);

				/* Firefox 3.6+ */
				background: -moz-linear-gradient(top, #858689, #d0d1d3);

				/* IE 10 */
				background: -ms-linear-gradient(top, #858689, #d0d1d3);

				/* Opera 11.10+ */
				background: -o-linear-gradient(top, #858689, #d0d1d3);
			}
			.progress-bar {
				background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ed3d32), to(#a31e21));
				background-image: -webkit-linear-gradient(top, #ed3d32, 0%, #a31e21, 100%);
				background-image: -moz-linear-gradient(top, #ed3d32 0%, #a31e21 100%);
				background-image: linear-gradient(to bottom, #ed3d32 0%, #a31e21 100%);
				background-repeat: repeat-x;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFed3d32, endColorstr=#FFa31e21, GradientType=0);
				border-bottom: 2px solid #8c1a1d;
			}
			.target-count {
				position: absolute;
				right: 20px;
				top: 0px;
				line-height: 41px;
				color: #ed0000;
				font-size: 1.4em;
				font-weight: 800;
			}
			#signature-count {
				position: absolute;
				left: 2%;
				width: 50px;
				margin-top: 10px;
				background: #00a3d2;
				color: white;
				z-index: 20000;
				margin-left: -23px;
				border-radius: 4px;
				font-size: 15px;
				font-weight: 800;
				text-align: center;
			}
			/* shared with before and after */
			#signature-count:after {
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 10px solid transparent; /* arrow size */
				border-bottom-color: #00a3d2;  /* arrow color */

				/* positioning */
				position: absolute;
				top: -20px;
				left: 15px;
				z-index: 2;
			}
		}
		#petition-summary-wrapper {
			padding: 0px 20px;
			p {
				margin-top: 10px;
				margin-bottom: 20px;
				color: #333333;
				font-size: 1.24em;
			}
		}
		#user-signature-wrapper {
			padding: 0px 0px;
			p {
				margin-top: 10px;
				margin-bottom: 20px;
				color: #333333;
				font-size: 1.24em;
			}
			ul {
				padding: 0px;
				margin: 0px;
			}
			#user-signature-list{ 
				list-style-type: none;
			}
			.user-signature-item {
				width: 50%; 
				float: left;
			}
			.media {
				border-left: none;
				border-top: none;
				border-radius: 0px;
				margin-bottom: 0px;
			}
			.avatar {
				width: 128px;
			}
			.media-body {
				text-align: left;
				height: 128px;
			} 
			.comment {
				padding: 10% 4% 10% 0;
				.user-name {
					font-size: 1.8em; 
					font-weight: 800;
					color: #27aae1;
				}
				.location {
					font-size: 1.2em;
					font-weight: 300;
				}
				.comment-timeago {
					font-size: 1.2em;
					font-weight: 300;
				}
			}
			
		}
		#more-signers-button-wrapper {
			#more-signers-button {
				height: 56px;
			}
		}
	}
}