/*Imported styles based on screen size of viewing device*/
/*This creates the responsive design*/
@media only screen and (max-width:959px) {
  /*@import 'size/mobile';*/
  	#client-logo-top img {
		max-width: 350px;
	}
	#client-logo-bottom img {
		max-width: 350px;
		height: 50px;
	}
	#petition-container {
		#petition-image-wrapper {
			margin-bottom: 20px;
		}
		#signature-form-wrapper {
			#sign-with-facebook-button {
				width: 100%;
			}
			#sign-with-email-address-wrapper {
				#sign-with-email-address-button {
					width: 100%;
				}
				#first-name-wrapper {
					padding: 0px;
					margin-bottom: 5px;
				}
				#last-name-wrapper {
					padding: 0px;
				}
			}
		}
		#premium-form-wrapper {
			#sign-with-email-address-button {
				width: 100%;
			}
			#first-name-wrapper {
				padding: 0px;
				margin-bottom: 5px;
			}
			#last-name-wrapper {
				padding: 0px;
			}
		}
		#signature-count-wrapper {
			#signers-count {
				float: left;
				width: auto;
			}
			#target-count {
				width: auto;
			}
		}
		#user-signature-wrapper {
			.user-signature-item {
				width: 100%;
				.media {
					margin-bottom: 0px;
					.pull-left {
						float: left;
					}
				}
			}
		}
		#more-signers-button-wrapper { 
			#more-signers-button {
				width: 100%;
			}
		}
		#more-tweets-button-wrapper { 
			#more-tweets-button {
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width:449px) {
  /*@import 'size/portrait';*/
}
@media only screen and (min-width:450px) and (max-width:959px) {
  /*@import 'size/landscape';*/
}

@media only screen and (min-width:960px) {
	#client-logo-top img {
		height: 100%;
	}
	#client-logo-bottom img {
		height: 50px;
	}
	.vertical-middle-table {
		min-height: 350px; 
		display: table;
		.vertical-middle-cell {
			display: table-cell; 
			vertical-align: middle; 
			height: 310px;
		}
	}
	#petition-container {
		width: 80%;
		margin: 0px auto;
		text-align: center;
		.panel-indented {
			margin: 0px 36px 18px 36px; 
		}
		.section-header {
			margin: 0px 20px;
		}
		.section-header:before { 
			content: ""; 
			width: 0; 
			height: 0; 
			border: 36px 
			solid transparent; 
			position: 
			absolute; 
			border-top: 0px solid transparent;
			border-bottom: 10px solid transparent; 
			border-left:16px solid #070707; 
			bottom: -10px; 
			right: -36px;

		}
		.section-header:after { 
			content: ""; 
			width: 0; 
			height: 0; 
			border: 36px 
			solid transparent; 
			position: 
			absolute; 
			border-top: 0px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:16px solid #070707; 
			bottom: -10px; 
			left: -36px;

		}
		#signature-form-wrapper {
			min-height: 350px; 
			display: table;
			#signature-form-container {
				height: 310px;
			}
			#sign-with-email-address-wrapper {
				#first-name-wrapper {
					padding: 0px 5px 0px 0px;
				}
				#last-name-wrapper {
					padding: 0px 0px 0px 5px;
				}
			}
		}
		#premium-form-wrapper {
			#sign-with-email-address-button {
				width: 100%;
			}
			#first-name-wrapper {
				padding: 0px 5px 0px 15px;
			}
			#last-name-wrapper {
				padding: 0px 15px 0px 5px;
			}
		}
		#more-signers-button-wrapper { 
			#more-signers-button {
				min-width: 400px;
			}
		}
		#more-tweets-button-wrapper { 
			#more-tweets-button {
				min-width: 400px;
			}
		}
	}
}