.row
	.col-md-8.col-md-offset-1
		%h2
			Your Petitions
		.panel{"ng-repeat"=>"petition in petitions"}
			%h4 {{petition.name}}
			%h6 {{petition.headline_primary}}

			.row-wrapper-fluid
				.row
					.col-md-12
						.row-wrapper-fluid
							.row
								.col-md-4.no-gutter{"panel" => "promo_participants()", "icon" => "icon-group",
								  "color" => "red", "title" => "Signatures"}
								.col-md-4.no-gutter-right{"panel" => "treats_given()", "icon" => "icon-gift",
								  "color" => "lightBlue", "title" => "Shares"}
								.col-md-4.no-gutter-right{"panel" => "treats_viewed()", "icon" => "icon-eye-open",
								  "color" => "green", "title" => "Delivered"}

			%div
				%a{"ng-click"=>"edit_petition(petition)"}
					Edit