.row
	.col-md-8.col-md-offset-1
		%h1
			Your Petitions
		.panel{:style=>"padding: 10px;", "ng-repeat"=>"petition in petitions"}
			%h2{:style=>"margin-top: 0px; margin-bottom: 2px;k"} 
				{{petition.name}}
			%h3{:style=>"margin-top: 0px; margin-bottom: 20px;"} 
				{{petition.headline_primary}}

			.row-wrapper-fluid
				.row
					.col-md-12
						.row-wrapper-fluid
							.row
								.col-md-4.no-gutter{"panel" => "petition.signatures_count", "petition"=>"petition", "icon" => "icon-group", "color" => "red", "title" => "Signatures"}
								.col-md-4.no-gutter-right{"panel" => "petition.share_count", "petition"=>"petition", "icon" => "icon-gift", "color" => "lightBlue", "title" => "Shares"}
								.col-md-4.no-gutter-right{"panel" => "petition.delivery_count", "petition"=>"petition", "icon" => "icon-eye-open", "color" => "green", "title" => "Delivered"}

			%div
				%a{"ng-click"=>"edit_petition(petition)"}
					Edit