%body#top{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar"}
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .navbar-container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %i.fa.fa-bars
        %a.navbar-brand{href: "#", style: "height: 40px"} Snaptivist.com
      #nav-collapse.collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.scroll.brand-4{href: "#features", title: "What Is It"} What It Is  
          %li
            %a.scroll.brand-1{href: "#assets", title: "Features"} What It Does
          %li
            %a.scroll.brand-4{href: "#contact", title: "Sign Up"} Try It Now  
    / /.navbar-container
  / Feature page
  #features.page.color-4
    .inner-page       
      %h2.page-headline Fast Action Sites For Digital Organizers
      .inner-page.row 
        .col-md-6.col-md-offset-3
          %img{alt: "Sign the Petition", src: "assets/Snaptivist Screen Shot Vets.png"}/
          %a.lightbox.iframe{href: "http://createaccount.snaptivist.com/", target: "_blank"} 
      %a.scroll.btn.btn-primary.btn-centered{href: "#contact"}
        %i.fa.fa-caret-down
        Start A Campaign 
      %ul.features.list-inline
        %li
          %h3
            %i.fa.fa-check
            Launch Advocacy Websites
          %p Create customized action sites, including petitions, polls, events, and more, for supporter acquisition and engagement.
        %li
          %h3
            %i.fa.fa-tablet
            Recruit New Supporters
          %p Learn about the interests, locations, and even Facebook friends of your supporters, as well as the best email address to contact them.
        %li
          %h3
            %i.fa.fa-heart
            Build Better Relationships
          %p Ask supporters to share a link, volunteer time, donate money, or anything else after they show interest by taking action.
        %hr/                
  / Assets page
  #assets.page.color-1
    .inner-page
      %h2.page-headline Watch The Video:
      .inner-page.row 
        .col-md-6.col-md-offset-3
          %img{alt: "Play video", src: "assets/video.png"}/
          %a.lightbox.iframe.btn-play{href: "http://www.youtube.com/watch?v=ewey46RxXZk", target: "_blank"}
            %i.fa.fa-play 
      .container.text-center     
        %p Launch a professional online advocacy campaign in minutes, with no technical skills required.
        %i.fa.fa-cog
        %p Engage your top supporters on the issues they care about with high-quality content they will want to share.
        %i.fa.fa-cog
        %p Collect contact info when they take action using their email address or Facebook account.
        %i.fa.fa-cog
        %p Embed custom graphics or web videos directly into your action page.
        %i.fa.fa-cog
        %p Create a unique URL for every campaign.  
  / /#assets        
  / Contact page
  #contact.page.color-4 
    .inner-page
      %h2.page-headline Request Your Free Account
      .inner-page.row
        .col-md-6
        %form#contact-form
          %textarea.form-control{placeholder: "What can Snaptivist do for you?", rows: "6"}
          %input.form-control{placeholder: "your@e-mail.com", type: "text"}/
          %input.form-control{placeholder: "Full Name", type: "text"}/
          %button.btn.btn-primary.btn-centered Go
  / /#contact
  / The footer, social media icons, and copyright
  %footer.page.color-5
    .inner-page.row
      .col-md-6.social
        %a{href: "#contact"}
          %i.fa.fa-twitter
        %a{href: "#contact"}
          %i.fa.fa-github-square
        %a{href: "#contact"}
          %i.fa.fa-facebook-square
        %a{href: "#contact"}
          %i.fa.fa-google-plus-square
      .col-md-6.text-right.copyright
        © 2014
        %a{href: "http://snaptivist.com", title: "Snaptivist"} Snaptivist.com
        | all rights reserved |
        %a.scroll{href: "#top", title: "Go to top"}
          To top
          %i.fa.fa-caret-up