<h1>Snaptivist.com</h1>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script id="snaptivist-widget" petition-id="1" type="text/javascript" src="/assets/widgets/index.js"></script>
<div>
	<div id="stuff">
		<div ng-view="" />
	</div>
	<script>
       angular.element(document).ready(function() {
       	var first = document.getElementById('stuff');
	   
         angular.bootstrap(first, ['widget']);
       });
    </script>
</div>
