p, span, small {
  font-size: emCalc(15px);
}


.button {
  height: 45px;
  font-size: emCalc(23px);
}

.friends-view, .payment-view, .delivery-view, .share-view {
    border-left: none;
    border-right: none;

  .row.bread-crumbs {
    p { margin-left: 10px; }
  }
}

.payment-view, .delivery-view, .share-view {
  & > .row.main {
    border: none;
    & > .product-background {
      border: 2px solid $dark_green;
    }
  }
}

.main-grid {
  padding: 0;
}

input.search {
  width: 100%;
  border: none;
}


.treat-delivered {
  background-position: 0px 65%;
  h3, h4 {
    position: relative;
    top: 30%;
  }
}

.full-screen{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.product-background {
  position: relative;
  background-position: center;
  background-size: 100%;
  &.medium {
    height: 250px;
  }
  &.small {
    height: 120px;
  }
  .product-details {
    background-color: rgba(0,0,0,0.6);
    .details {
      p {
        &:nth-child(1), &:nth-child(2) {
        font-size: 24px;
        }
        &.left {
          padding-left: 10px;
        }
        &.right {
          padding-right: 10px;
        }
      }
    }
  }
}

header {
  height: 50px;
  #image {
    width: auto;
    margin-left: 10px;
  }
  img {
    max-height: 35px;
  }
}

footer {
  height: 50px;
}

.landing-view {
  .marketing-copy {
    float: left;
    width: 100%;
    line-height: 25px;
    max-width: none;
    padding-left: 1.938em;
    a.offer-terms {
      font-size: emCalc(10px);
      margin-bottom: 10px;
    }
    .action-desktop { display: none; }
    h2 {
      margin-top: 13px;
      font-size: 1.6875em;
    }
  }
  #action-button {
    bottom: -100px;
    width: 90%;
    left: 5%;
  }
}

.delivery-view {
  #delivery-title {
    h3 {
      font-size: 1.1em;
      margin-bottom: 0;
    }
    p {
      font-size: emCalc(14px);
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .share-options { display: none; }
  #message {
    textarea {
      width: auto;
      height: auto;
    }
    p {
      width: auto;
    }
    #message-counter {
      top: 0;
      clear: both;
      margin-bottom: -5px;
    }
  }
}


.delivery-block, .share-block, .payment-block {
  .delivery-wrapper,  .saved-card, #delivery-title, #share-title, #link-help {
    width: 88%;
    left: 6%;
    margin-top: 8px;
  }
}

.friends-view {
  & > .row.main {
    border-bottom: 0;
  }
  .friend {
    border-bottom: 2px solid $light_green;
  }
  .product-background {
    display: none;
  }
  .search-block {
    &.with-offnetwork-search {
      .input-wrapper {
        $placeholder-font-size: 16px;
        :-ms-input-placeholder {
          @include placeholder-text();
        }
        ::-webkit-input-placeholder {
          @include placeholder-text();
        }
        ::-moz-placeholder {
          @include placeholder-text($placeholder-color: $dark_grey);
        }
        :-moz-placeholder {
          @include placeholder-text($placeholder-color: $dark_grey);
        }
        input {
          font-size: 15px;
        }
        .icon {
          width: 28px;
          top: 10px;
          right: 10px;
        }
      }
      .swap-icons {
        width: 15%;
        float: right;
        background-color: $light_green;
        height: 45px;
        position: relative;
          img {
            position: relative;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
          }
      }
      #friend-search, #off-network {
        width: 85%;
        float: left;
        #plus-icon {
          left: 5px;
        }
      }
    }
  }
}

.share-view {
  .product-background { display: none; }
  #share-title {
    h5 { font-size: 0.99em; }
    padding: 0;
  }
  /*
  .treat-url {
    div.zclip, a { display: none; }
    #treat-url {
      width: 100%;
      text-align: center;
    }
  }
  #link-help {
    position: relative;
    float: left;
    margin-top: -5px;
  }
  */
}

.landing-view.multi-product {
  .marketing-copy {
    height: auto;
    .left-block, .right-block {
      @include grid-column($columns: 12, $center: false, $float: left);
      left: 0%;
      height: auto;
      h2 {
        font-size: emCalc(23px);
        display: block;
        margin: 8px 0;
      }
      .copy-and-details {
        display: block;
        p { margin-bottom: -5px; }
      }
    }
  }

  .royalSlider {
    height: 250px;
    .product-background {
      .product-details {
        p {
          font-size: emCalc(19px);
        }
      }
    }
  }
  .sub-header-block {
    height: 110px;
    &:before, &:after {
      top: 77.3%;
      border-width: 0px;
    }
    .caption-with-action {
      height: 110px;
      .sub-header {
        height: 110px;
        .animated-block {
          height: 75px;
          p { padding: 5px; vertical-align: middle; }
        }
      }
      #action-button {
        bottom: auto;
        left: 0;
        .button {
          padding: 10px 18px;
        }
      }
    }
  }
}

.payment-view {
  .product-subheader {
    p {
      margin: 15px 0 0 0;
      font-size: emCalc(16px);
      width: 96%;
      left: 2%;
      line-height: 17px;
    }
  }
}
.receiving-view {
  padding: 0px !important;
  .product-background {
    border-right: 0 !important;
    height: 300px !important;
  }
  .details-block {
    margin-top: 10px;
    .headline-block {
      margin-top: 0px;
      min-height: 92px;
      width: 88%;
      left: 6%;
      position: relative;
      #img {
        padding-left: 0;
        width: 25%;
        img { margin-top: 9px; }
      }
      #headline {
        width: 75%;
        padding-left: 0.9375em;
        padding-right: 0;
        margin-top: 16px;
        h3 {
          font-size: emCalc(17px);
          &:first-child {
            margin-bottom: -7px;
          }
          &:last-child {
            line-height: 19px;
          }
        }
      }
    }
    .call-to-action {
      p {
        font-size: emCalc(20px);
      }
      #redeem-inst {margin: 0 20px;}
      #code {width: auto;}
      .button {width: auto;}
      margin-top: 15px;
    }
    .non-recipient-block {
      @include grid-column($columns: 12, $center: true);
      min-height: 60px;
      p {
        margin-bottom: 2px;
        padding-left: 0.9375em;
        width: 67%;
        float: left;
      }
      .button {
        width: 24%;
        font-size: emCalc(16px);
        padding: 5px 0;
        float: left;
      }
    }
  }
  .lower-block {
    .buttons-block {
      padding: 20px 0px;
      .button-plain:first-child {
        float: center;
        margin-right: 10px;
      }
      .button-plain:last-child {
        float: center;
        margin-left: 10px;
      }
    }
    .how-to-use-block {
      @include grid-column($columns: 11, $center: true);
      .inner {
        #title {
          width: 100%;
          display: inline-block;
          margin-top: 20px;
        }
      }
    }
  }
}

.desktop {
  display: none;
}

.general-error {
  position: relative;
  width: 88%;
  left: 6%;
  p {
    width: 100%;
  }
}

.mobile {
  display: block;
}

.reveal-modal {
  .close-reveal-modal {
    font-size: 2em;
    top: 0.25em;
    right: 0.5em;
  }
}
.zclip {
  display: none;
}

.notice-box {
  height: auto;
}
