/ Content elements
.row
  .fluid.w-100
    .title.large {{page.name}}
    %p.large {{page.description}}
.row.mt-20
  .fluid.w-49
    / Image overlay
    .overlay
      %img{alt: "A picture alternate text", src: "demo/1.jpg"}/
      / Image links
      %div
        %a.icon.left.entypo-search{href: "#"}
        %a.icon.right.entypo-link{href: "#"}
  .fluid.w-49.pd-lr-20
    .title.medium Medium heading style
    %p.small.mt-10
      Small paragraph style, elementum sed augue,
      %a{href: "#"} aliquet
      dapibus tincidunt augue et rhoncus in velit aenean! Aenean, mid? Rhoncus scelerisque, odio quis? Parturient, dolor integer turpis augue, dis? Sed lacus, penatibus lorem.
    %p.small.mt-20
      %span.quote A block quote. Sed lacus, penatibus? Et elit nec sed turpis augue nisi placerat amet?
    .clr.mt-20
    %p.small
      %span.icon.entypo-link
      %a{href: "#"} Lorem ipsum dot color
    %button.btn.btn-primary.btn-lg{"ng-click"=>"add_page(page)"}
      Add Page
/ Menu title
.title.tabs
%span.icon.entypo-list-add>
Show content in tabs
