.row {
  max-width: none;
}
.main-grid {
  @include grid-column($columns: 12, $center: true, $float: left);
}

.button {
  max-width: 340px;
  line-height: 35px;
}

.product-background {
  position: relative;
  height: 440px;
  padding: 0;
  background-size: 100%;
  background-position: center;
  &.medium, &.small {
    background-size: 110%;
    background-position: bottom;
  }
}

.landing-view {
  h2 {
    font-size: 2em;
    line-height: 35px;
  }
  p {
    font-size: emCalc(18px);
    font-weight: 400;
  }
  &.row { max-width: 100%; }
  .marketing-copy {
    @include grid-column($columns: 4, $float: right, $pull: 2);
    max-width: 438px;
    padding-left: 1.6em;
    h2 {
      margin-top: 110px;
    }
    margin-top: 0;
    height: 440px;
    max-width: 340px;
    #action-button {
      margin-top: 35px;
      left: 0;
      width: 96%;
    }
  }
  .action-mobile { display: none; }
}

.landing-view.multi-product {
  .royalSlider {
    height: 360px;
    .rsSlide {
      .rsTmb {
        display: none;
      }
    }
  }
}

.friends-view, .payment-view, .delivery-view, .share-view, .receiving-view {
  @include grid-column($columns: 12, $center: true);
  .row {
    max-width: 1024px;
  }
  .product-background {
    @include grid-column($columns: 4, $center: false, $float: left);
    padding: 0;
    background-size: 110%;
  }
}

.friends-view{
  .friends-block {
    @include grid-column($columns: 8, $center: false, $float: left);
    padding: 0;
    .search-block {
      input {
        padding-left: 49px;
      }
    }
  }
  ul.row {
    @include block-grid($per-row: 2, $spacing: 0, $base-style: false);
    li {
      float: left;
      .friend {
        &:hover { background-color: tint($light_green, 60%); }
        & > .friend-details {
          width: 73%;
        }
        & > .image {
          padding: 0;
          width: 23.333%;
        }
      & > .arrow { display: none; }
      }
    }
  }
  .search-block {
    &.with-offnetwork-search {
      #off-network {
        input {
          padding-left: 60px;
        }
      }
    }
  }
}

.payment-view {
  #treat-value, #credit, #fee, #piggybank, #you-pay {
    height: 20px;
  }
  .right-side-block {
    @include grid-column($columns: 8, $center: false, $float: left);
    padding: 0;
  }
  .product-subheader {
    @include grid-column($columns: 12, $center: false, $float: left);
    margin-top: 25px;
  }
  .payment-block {
    margin-top: 2%;
    @include grid-column($columns: 6, $center: false, $float: left);
    #payment {
      width: 95%;
      left: 6%;
      position: relative;
      .saved-card {
        width: 96%;
      }
      #credit-card, #other-payment-details {
        padding: 0;
        margin: 0;
      }
    }
  }
  #action-button {
    @include grid-column($columns: 6, $center: false, $float: left);
    margin-top: 130px;
    padding: 0;
  }
  .button {
    width: 79%;
    left: 10%;
  }
}


.share-options {
  @include grid-column($columns: 12, $center: false, $float: left);
  padding: 0;
  border-top: 2px solid $grey;
  @include single-box-shadow(white, 0, 1px, 0, false, inset);
  .delivery-wrapper {
    float: left;
    width: 49%;
    .treat-url {
      padding-right: 3px;
      input { width: 78.333%; }
      a { line-height: 33px; }
      }
    }
  }

.delivery-view {
  .delivery-block {
    #delivery-title {
      margin-top: 15px;
      h3, h4, p {padding-left: 0; }
      h3 { margin-bottom: 0; }
    }
    @include grid-column($columns: 8, $center: false, $float: left);
    .input-wrapper {
      margin: 5px 0;
      &#sms, &#email {
        width: 49%;
        float: left;
      }
      &#email, &#native-email { margin-right: 10px; }
      &#native-email {
        font-size: 18px;
        margin-top: 4px;
        color: $dark_grey;
      }

      &#message {
        width: 100%;
        float: left;
      }
    }
    .share-options {
      width: 100%;
      bottom: 66px;
      padding: 20px 0 0 0;
      margin-bottom: -45px;
      opacity: 0.6;
      div.zclip { display: none; }
      a, a:hover, input, input:hover {
        cursor: default;
      }
    }
  }
  #action-button {
    @include grid-column($columns: 6, $center: false, $float: right);
  }
  .share-options {
    .action-button.mobile { display: none; }
  }
}

.share-view {
  .share-block {
    @include grid-column($columns: 8, $center: true, $float: left);
    margin-top: 25px;
    .top {
      height: 300px;
      width: 100%;
      .desktop-airplane {
        @include full-div-background($url: "/assets/give_flow/airplane-medium.png");
        background-size: 80%;
        background-position: 25px -75px;
        height: 85%;
      }
       
      .share-details {
        @include grid-column($columns: 8, $center: true);
        height: 75%;
      }
    }
    .action-button.mobile { display: none; }
    .action-button.desktop {
      position: relative;
      top: 10%;
    }
    .treat-delivered {
      background-image: none;
      height: auto;
      margin-top: 30px;
      h4 { margin-top: 0; }
    }
  }
  .share-options {
    @include grid-column($columns:9, $center: true);
    width: 94%;
    left: 3%;
    padding-top: 13px;
    #facebook {
      margin-right: 4%;
      width: 40%;
    }
    #link {
      width: 56%;
      @include transition();
    }
  }
}

.receiving-view {
  .details-block {
    @include grid-column($columns: 8, $center: false, $float: left);
    .headline-block {
      width: 92%;
      left: 4%;
      position: relative;
      margin-top: 0px;

      #headline {
        margin-top: 15px;
      }
      .message {
        margin-top: 35px;
        @include grid-column($columns: 8, $center: true);
        clear: both;
        padding: 0;
        p { font-size: emCalc(19px); }
      }
    }
    .call-to-action {
      margin-top: 35px;
      @include grid-column($columns: 11, $center: true);
      min-height: 130px;
      .button {
        width: auto;
        left: 22%;
      }
      p {
        font-size: emCalc(20px);
      }
    }
    .non-recipient-block {
      height: 70px;
      background-color: $grey;
      @include border-radius(4px);
      margin-top: 50px;
      width: 92%;
      left: 4%;
      position: relative;
      @include single-box-shadow(white, 0, 1px, 0, false, inset);
      .button {
        width: auto;
        height: auto;
        padding: 3px 14px 4px;
        margin-top: 14px;
        font-size: emCalc(19px);
        float: right;
        left: -3%;
      }
      p {
        display: inline;
        padding-left: 0.935em;
        font-size: emCalc(20px);
        line-height: 70px;
        color: $mid_grey;
      }
    }
  }

}

.lbb-redeem {
  .receiving-view {
    .main {
      #treat_message {
        width: 400px;
      }
      .zclip {
        float: right;
        top: -7px;
        right: -6px;
        position: relative;
      }
      .details-block {
        .call-to-action {
          #code {
            input { width: 85%; }
          }
          #url {
            width: 50%;
            left: 25%;
            display: block;
          }
        }
      }
    }
    .lower-block {
      .secondary {
        @include grid-column($columns: 12, $center: true);
        max-width: 1024px;
        padding: 20px 0 0 0;
        .buttons-block {
          @include grid-column($columns: 4, $center: false, $float: left);
        }
        .how-to-use-block {
          @include grid-column($columns: 8, $center: false, $float: left);
          .inner {
            @include grid-column($columns: 11, $center: true);
          }
        }
        #treater-link {
          position: relative;
          left: 37%;
        }
      }
    }
  }
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.general-error {
  position: absolute;
  left: 10%;
  top: -85px;
}
.delivery-view .general-error {
  position: relative;
  left: 0px;
  top: 0px;
  text-align: center
}
