.row-fluid
    #action-wrapper{:style => "position: relative"}
      #sign-petition-signature{:style => "position: absolute"}
        #signature-container
          #sign-why.drop-shadow-full.solid-white-back{:style => "text-align: left;"}
            %textarea#comment{:maxlength => "115", :style => "width: 90%", :placeholder => "Tell us why you're signing.."}
          %button#sign-petition-facebook-button.action-button.icon.sign-with-fb-button{:href => user_omniauth_authorize_path(:facebook)}
            %span
              Sign With Facebook
  .row-fluid
    %span.span12.copy-or.text-center
      \-OR-
  .row-fluid
    #sign-petition
      .row-fluid
        .span6
          .controls
            %input#firstName.register-textField.span12{:type => "text", :name => "FirstName", :placeholder => "First Name"}
        .span6
          .controls
            %input#lastName.register-textField.span12{:type => "text", :name => "LastName", :placeholder => "Last Name"}
      .row-fluid
        .span6
          .controls
            %input#emailAddress.register-textField.span12{:type => "text", :name => "EmailAddress", :placeholder => "Email Address"}
        .span6
          .controls
            %input#zipCode.register-textField.span12{:type => "text", :name => "ZipCode", :placeholder => "Zip Code"}
      .row-fluid
        .span6
          .controls
            %label.checkbox{:style => "text-align: left"}
              %input#chkEmailSignUp{:checked => "", :type => "checkbox"}
                %span{:style => "color: #768286;"} Let me know about activists and events in my area.
        .span6
          .controls
            %button#sign-petition-user-name.button.orange{:style => "width: 100%"}
              Add My Name