$brand_font: 'Source Sans Pro';

// Brand Colors
$light_green: #99CC08;
$dark_green: #89BB00;
$blue: #38b1d7;

// used for buttons
$orange: #EF6623;
$dark_red: #BC202E;

// used as background colors
$light_grey: #F7F7F7;
$grey: #D8D8D8;

$border_grey: #adadad;

// used for text
$mid_grey: #9F9F9F;
$dark_grey: #40494F;

$error_dark_red: #db3015;
$error_light_red: #fa5c67;
