#action-container {
	background: url("/assets/layout2/theme-c/background_pattern.png") repeat;
	font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	form.submitted {
		.ng-invalid {
			border: solid 1px red;
		}
	}
	.circularG {
		background-color: #ff0000;
	}
	.client-logo {
		background: #333333;
	}
	.disclaimer {
		color: #5e5e5e;
		border: solid 1px #5e5e5e;
	}
	#petition-container, #premium-container {
		.section-header {
			background-color: #558C89;
			color: #ffffff;
			font-size: 1.8em;
			font-weight: 300;
			padding: 2px 22px;
			position: relative;
			z-index: 1000;
			letter-spacing: 4px
		}
		.panel-default {
			background-color: #ECECEA;
		}
		.panel-sub {
			background-color: transparent;
			border: solid 1px transparent;
		}
		.btn-primary {
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, #d9853b),
				color-stop(1, #e6af7f)
			);
			background-image: -o-linear-gradient(top, #d9853b 0%, #e6af7f 100%);
			background-image: -moz-linear-gradient(top, #d9853b 0%, #e6af7f 100%);
			background-image: -webkit-linear-gradient(top, #d9853b 0%, #e6af7f 100%);
			background-image: -ms-linear-gradient(top, #d9853b 0%, #e6af7f 100%);
			background-image: linear-gradient(to top, #d9853b 0%, #e6af7f 100%);
		}
		.btn-primary:hover, .btn-primary:focus {
		  background-position: 0px;
		}
		.btn-primary:hover {
			text-decoration:none;
			background: #d9853b; /* Old browsers */
			background: -moz-linear-gradient(top,  #d9853b 0%, #d9853b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9853b), color-stop(100%,#d9853b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #d9853b 0%,#d9853b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #d9853b 0%,#d9853b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #d9853b 0%,#d9853b 100%); /* IE10+ */
			background: linear-gradient(top,  #d9853b 0%,#d9853b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9853b', endColorstr='#d9853b',GradientType=0 ); /* IE6-9 */
		}
		.btn-primary:active{
			-webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
			box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
			cursor: pointer;
		}
		.drop-shadow-full {
		    -moz-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
		    -webkit-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
		    box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25); 
		    textarea {
		    	padding: 10px;
				color: #757a80;
			    border:none;
			    box-shadow: none;
			    resize: none;
			    height: 120px;
			    font-size: 15px;
			    font-family: 'Lato-Regular', sans-serif;
			}
			#message-counter {
		      padding-right: 0.935em;
		      padding-bottom: 4px;
		    } 
		}
		#petition-headline, #delivery-headline, #premium-headline {
			background-color: #558C89;
			color: #ffffff;
		}
		#petition-headline:before, #delivery-headline:before, #premium-headline:before { 
			border-top: 0px solid transparent;
			border-bottom: 20px solid transparent; 
			border-left:36px solid #070707; 
			bottom: -20px; 
			right: -36px;
		}
		#petition-headline:after, #delivery-headline:after, #premium-headline:after { 
			border-top: 0px solid transparent;
			border-bottom: 20px solid transparent; 
			border-right:36px solid #070707; 
			bottom: -20px; 
			left: -36px;
		}
		.progress-wrapper {
			position: relative;
			border-radius: 21px;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #838487), color-stop(0.67, #d0d1d2));
			background-image: -moz-linear-gradient(center bottom, #838487 33%, #d0d1d2 67% );
			padding: 4px 3px;
		}
		.progress {
			position: relative;
			height: 42px;
			border-radius: 21px;
			margin: 0px 1px;
			/* fallback */
			background-color: #d0d1d3;
			background: url(images/linear_bg_2.png);
			background-repeat: repeat-x;

			/* Safari 4-5, Chrome 1-9 */
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d1d3), to(#858689));

			/* Safari 5.1, Chrome 10+ */
			background: -webkit-linear-gradient(top, #858689, #d0d1d3);

			/* Firefox 3.6+ */
			background: -moz-linear-gradient(top, #858689, #d0d1d3);

			/* IE 10 */
			background: -ms-linear-gradient(top, #858689, #d0d1d3);

			/* Opera 11.10+ */
			background: -o-linear-gradient(top, #858689, #d0d1d3);
		}
		.progress-bar {
			background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ed3d32), to(#a31e21));
			background-image: -webkit-linear-gradient(top, #ed3d32, 0%, #a31e21, 100%);
			background-image: -moz-linear-gradient(top, #ed3d32 0%, #a31e21 100%);
			background-image: linear-gradient(to bottom, #ed3d32 0%, #a31e21 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFed3d32, endColorstr=#FFa31e21, GradientType=0);
			border-bottom: 2px solid #8c1a1d;
		}
		.target-count {
			position: absolute;
			right: 20px;
			top: 0px;
			line-height: 41px;
			color: #ed0000;
			font-size: 1.4em;
			font-weight: 800;
		}
		#signature-count {
			position: absolute;
			left: 2%;
			width: 50px;
			margin-top: 10px;
			background: #00a3d2;
			color: white;
			z-index: 20000;
			margin-left: -23px;
			border-radius: 4px;
			font-size: 15px;
			font-weight: 800;
			text-align: center;
		}
		/* shared with before and after */
		#signature-count:after {
			content: ' ';
			height: 0;
			position: absolute;
			width: 0;
			border: 10px solid transparent; /* arrow size */
			border-bottom-color: #00a3d2;  /* arrow color */

			/* positioning */
			position: absolute;
			top: -20px;
			left: 15px;
			z-index: 2;
		}
		#signature-form-wrapper {
			#signature-form-or-container{	
				h6 {
					border-top: 1px solid black; 
				}
				h6 span { 
					background: #ECECEA;
				}
			}
		}
	}
}