.widget-header
  %i.icon-star
  %h3 All Campaigns
.widget-content
  .row
    .span3.text-center.well
      %i.icon-pencil.icon-4x
      %h3 Target Headline
      %h4 Title of the Petition
      %span.stats 102 | 24 | 12
    .span3.text-center.well
      %i.icon-pencil.icon-4x
      %h3 Target Headline
      %h4 Title of the Petition
      %span.stats 102 | 24 | 12
    .span3.text-center.well
      %i.icon-pencil.icon-4x
      %h3 Target Headline
      %h4 Title of the Petition
      %span.stats 102 | 24 | 12
    .span3.text-center.well
      %i.icon-pencil.icon-4x
      %h3 Target Headline
      %h4 Title of the Petition
      %span.stats 102 | 24 | 1