%div.widget-content
	%div#big_stats.cf
		%div.stat
			%h4 
				Active Campaigns
			%span.value 
				{{stats.active_campaigns}}
		%div.stat
			%h4 
				Daily Signatures
			%span.value 
				{{stats.signatures}}
		%div.stat
			%h4 
				Daily Shares
			%span.value 
				{{stats.shares}}
		%div.stat
			%h4 
				Daily Deliveries
			%span.value 
				{{stats.deliveries}}