.ngdialog-message
  .container
    .row
      .col-md-3
        %h4{:style=>"font-size: 1.12em"}
          Activity
        %p{:style=>"font-size: .88em"}
          The activity area allows you to track your action and action takers
        %ul.nav.nav-stacked.nav-pills
          %li
            %a Traffic Information
          %li
            %a Mobile Usage
          %li
            %a Referrers
          %li
            %a Action Takers
      .col-md-9
        %div
          With ngDialog you don't need jQuery or Bootstrap to create dialogs for
          %code ng-app:
        %ul.mt
          %li Use it in controllers, factories or directives
          %li Create your own directives
          %li Style all UI and templates
          %li Configure themes
          %li Add animations and effects
        %ul.mt
          %li Use it in controllers, factories or directives
          %li Create your own directives
          %li Style all UI and templates
          %li Configure themes
          %li Add animations and effects
        %ul.mt
          %li Use it in controllers, factories or directives
          %li Create your own directives
          %li Style all UI and templates
          %li Configure themes
          %li Add animations and effects
        %ul.mt
          %li Use it in controllers, factories or directives
          %li Create your own directives
          %li Style all UI and templates
          %li Configure themes
          %li Add animations and effects
        .mt
          Module is shipped with both
          %code ngDialog
          service and default directive.
.ngdialog-buttons.mt
  %button.ngdialog-button.ngdialog-button-primary{"ng-click" => "next()", type: "button"} ►