.ngdialog-message
  .container
    .row
      .col-md-3
        %h4{:style=>"font-size: 1.12em"}
          Settings
        %p{:style=>"font-size: .88em"}
          Settings allow you to adjust the overal settings for your action.
        %ul.nav.nav-stacked.nav-pills
          %li
            %a Basic Information
          %li
            %a General Information
          %li
            %a Domain
          %li
            %a Template
      .col-md-9
        %h4{:style=>"font-size: 1.36em"}
          Basic Information
        %div
          With ngDialog you don't need jQuery or Bootstrap to create dialogs for
          %code ng-app:
        %form{"role"=>"form"}
          .form-group
            %label{"for"=>"actionTitleInput"}
              Action Title
            %input.form-control#actionTitleInput{"type"=>"text","placeholder"=>"Enter Action Title","ng-model"=>"campaign.title"}
          .form-group
            %label{"for"=>"browserIconInput"}
              Browser Icon (favicon)
            %input.form-control#browserIconInput{"type"=>"file","placeholder"=>"Upload a Browoser Icon"}
.ngdialog-buttons.mt
  %button.ngdialog-button.ngdialog-button-primary{"ng-click" => "next()", type: "button"} ►