.ngdialog-message
  .container
    .row
      .col-md-3
        %h4{:style=>"font-size: 1.12em"}
          Settings
        %p{:style=>"font-size: .88em"}
          Settings allow you to adjust the overal settings for your action.
        %ul.nav.nav-stacked.nav-pills
          %li{"ng-click"=>"set_selected_index(0)", "ng-class"=>"set_style(0)"}
            %a{"href"=>""}
              Basic Information
          %li{"ng-click"=>"set_selected_index(1)","ng-class"=>"set_style(1)"}
            %a{"href"=>""} 
              Template
      .col-md-9
        %div{"ng-include"=>"get_template()"}