.ngdialog-message
  .container
    .row
      .col-md-3
        %h4{:style=>"font-size: 1.12em"}
          Setup Campaign Emails
        %p{:style=>"font-size: .88em"}
          Setup auto-responder emails to send to your action takers
        %ul.nav.nav-pills.nav-stacked
          %li{"ng-repeat"=>"email_type in email_types", "ng-click"=>"set_selected_email_type($index)", "ng-class"=>"set_style($index)"}
            %a{"href"=>"#"}
              {{email_type.name}}
      .col-md-9
        %h4{:style=>"font-size: 1.36em"}
          {{selected_email_type.name}}
        %div
          {{selected_email_type.description}}
        
        %form{"role"=>"form"}
          .form-group
            %label
              From Name
            %input.form-control{"type"=>"text", "ng-model"=>"config.from_name"}
          .form-group
            %label
              From Address
            %input.form-control{"type"=>"text", "ng-model"=>"config.from_address"}
          .form-group
            %label
              Subject:
            %input.form-control{"type"=>"text", "ng-model"=>"config.subject"}