%div{"ng-controller"=>"CampaignNavigationController"}
	%ul.navigation-bar{:style=>"margin-top: 55px;"}
		%li{"ng-click"=>"configuration_clicked()"}
			.nav-icon.entypo-cog
		%li{"ng-click"=>"email_setup_clicked()"}
			.nav-icon.entypo-mail
		%li{"ng-click"=>"publishers_clicked()"}
			.nav-icon.entypo-network
		%li{"ng-click"=>"activity_clicked()"}
			.nav-icon.entypo-chart-bar
		%li{"ng-click"=>"activity_clicked()"}
			.nav-icon.entypo-help