%div
	%h2
		Poll Results
	.poll-results.text-left{:style=>"margin-bottom: 80px"}
		.poll-choice{"ng-repeat"=>"poll_choice in segment.poll.poll_choices"}
			%label
				{{poll_choice.label}}
			.progress
				.progress-bar{:style=>"width: {{poll_choice.percentage}}%", "role"=>"progressbar", "aria-valuenow"=>"60", "aria-valuemin"=>"0","aria-valuemax"=>"100"}
					{{poll_choice.percentage}}%