.ngdialog-message
  .container
    .row
      .col-md-3
        %h4{:style=>"font-size: 1.12em"}
          Publish Your Action
        %p{:style=>"font-size: .88em"}
          Publish your Action to make it available to others
        %ul.nav.nav-stacked.nav-pills
          %li{"ng-click"=>"set_selected_index(0)", "ng-class"=>"set_style(0)"}
            %a{"href"=>""}
              Snaptivist
          %li{"ng-click"=>"set_selected_index(1)","ng-class"=>"set_style(1)"}
            %a{"href"=>""} 
              Facebook
      .col-md-9
        %div{"ng-include"=>"get_template()"}