%div.segment-config-wrapper{:style=>"display: none;"}
	%span.entypo-cog.segment-config.icon{"is-admin"=>"isAdmin","segment"=>"segment","ng-click"=>"config_clicked()"}
	%span.entypo-pencil.segment-config.icon{"ng-click"=>"edit_clicked()"}