/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ajax-spinner
 *= require font-awesome
 *= require ngDialog
 *= require ngDialog-theme-default
 *= require ngDialog-theme-snap
 *= require_directory ./stickit
 *= require lato-black
 *= require lato-light
 *= require lato-regular
 *= require oswald-regular
*/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font-family: "Open Sans", sans-serif;
}
/*  SignUp/Login Screen */
.login-box {
	background: #fff;
	border-radius: 0 0 8px 8px;
}
#signup {
	width: 500px;
	text-align: center;
	padding: 0px 50px;
	margin-bottom: 12px;
}
#login {
	width: 500px;
	text-align: center;
	padding: 0px 50px;
	margin-bottom: 12px;
}
#signup .title, #login .title {
	padding: 10px 0 0 0;
	text-align: center;
	font: 400 22px/1em 'Open Sans';
	color: #252b33;
	margin: 12px 0px;
}
#signup form, #login form {
	margin-top: 40px;
	margin-top: 40px;
}
#signup input[type="text"], #login input[type="text"],
#signup input[type="email"], #login input[type="email"],
#signup input[type="password"], #login input[type="password"] {
	font-weight: 300;
	background: #fff;
	width: 100%;
	height: 45px;
	border: 1px solid #dbd9d9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 13px;
	margin: 0 0 20px 0;
	color: #434343;
	font-weight: 300;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none 3px 3px 3px #cccccc;
	-moz-box-shadow: none 3px 3px 3px #cccccc;
	box-shadow: none 3px 3px 3px #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#signup input[type="submit"], #login input[type="submit"]  {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	margin: 0px 0px 15px 0px !important;
	font-size: 24px;
}
.wrap {
	float: left;
	clear: both;
width: 100%;
text-align: center;
min-width: 1170px;
}
.wrap-inner {
	width: 1170px;
margin: 0 auto;
text-align: left;
}
ul.projects-list {
padding: 0;
margin: 0;
width: 1200px;
float: left;
clear: both;	
} 
ul.projects-list li.project-list-item {
	width: 370px;
float: left;
padding: 0;
margin: 30px 30px 0 0;
overflow: hidden;
position: relative;
list-style: none;
border-radius: 3px;
}

ul.projects-list li .project-info {
	background: white;
float: left;
clear: both;
width: 368px;
position: relative;
padding: 12px 19px 20px;
border: 1px solid #dee3e9;
border-top: 0;
border-radius: 0 0 3px 3px;
}
ul.projects-list li  .project-image {
	background: #323e50
}
ul.projects-list li .overlay {
	opacity: 0
}
ul.projects-list li .project-image .overlay  .tools {
	position: absolute;
	top: 0;
	right: 0;
	margin: 23px 20px 0 0;
	z-index: 1;
}
ul.projects-list li .project-image .overlay  .tools li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
	color: #dee3e9;
}
ul.projects-list li  .project-image .overlay .tools li a {
	color: #ffffff;
	text-decoration: none;
}
ul.projects-list li:hover .overlay {
	opacity: 1
}
ul.projects-list li .project-image .overlay .view-project {
	width: 370px;
height: 250px;
top: 0;
left: 0;
position: absolute;
z-index: 0;
}
ul.projects-list li .project-image .overlay .view-project a {
width: 370px;
height: 250px;
display: block;
}

div.add-campaign-page {
	position: fixed;
	right: 60px;
	padding: 6px 12px;
	font-size: 35px;
	z-index: 2001;
	background: #ececec;
}
div.add-campaign-page:hover {
	background: #B1B1B1;
	color: #fff;
}
ul.page-toolbar {
	font-size: 24px;
	height: 44px;
	margin: 0px;
	padding: 0px;
}
ul.page-toolbar li {
	float: left;
	list-style: none;
	padding: 10px;
	background: #ececec;
	height: 44px;
}
ul.page-toolbar li:hover {
	background: #B1B1B1;
	color: #fff;	
}
.campaign-toolbar {
    position: absolute;
    top: 15px;
    right: 15px;
}
.poll-choice {
	font-size: 28px;
}
.poll-choice-selected {
	color: #ff5f00;
}
.poll-choice-icons {
	font-size: 24px;
}
.donation-button-wrapper {
	padding-left: 0px;
	padding-right: 0px;
}
.donation-segment {
	margin: 20px auto 40px auto;
	width: 550px;
}
.donation-button {
	height: 80px;
	background: #14b9d6;
	color: white;
	margin: 5px;
	line-height: 80px;
	font-size: 24px;
}