		/****************
		GENERAL
		NAVBAR
		HERO UNIT
		FEATURES
		CLIENTS
		TESTIMONIALS
		CALL TO ACTION
		FOOTER
		HEADLINES
		BUTTONS
		****************/
		
		
		
/****************
	GENERAL
 ****************/


a, a:hover, a:focus, .btn, .btn:hover, .btn:focus {
    outline: none;
}

html {
    height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
}

body {
	height: 100%;
    padding-bottom: 40px;
    color: #232323;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    background: url("../assets/background_pattern.png") repeat;
}
#header-image {
    -webkit-box-shadow: 0 8px 6px -5px #9e9e9e;
    -moz-box-shadow: 0 8px 6px -5px #9e9e9e;
    box-shadow: 0 8px 6px -5px #9e9e9e;
    margin-bottom: 24px;
}
p {
    font-family: 'Lato-Light', sans-serif;
    color: #232323;
    font-size: 22px;
    margin: 5px auto;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    color: #1d3037;
    margin: 0px 0px 40px 0px;
}
h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f35b00;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0px 0px 14px 0px;
    margin-bottom: 30px;
}
h3 {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
}
h4 {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
    font-weight: normal;
}
h5 {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    color: #757a80;
    margin-bottom: 36px;
    font-weight: normal;
}
h6 {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    color: #757a80;
    margin-bottom: 36px;
    font-weight: normal;
}
h1.title {
    max-width: 560px;
    margin: 0px auto 40px auto;
    line-height: 60px;
}
h2.target-name {
    display: inline-block; 
    padding-left: 18px; 
    padding-right: 18px; 
    border-bottom: inset 1px #dedede;

}
p.description {
    max-width: 728px;
    margin: 0px auto;
    font-size: 28px;
    line-height: 36px;
}
.drop-shadow-full {
    -moz-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);   
}
.solid-white-back {
    background-color: #ffffff;
}
.solid-green-back {
    background-color: #1d3037;
}
#action-wrapper {
    max-width: 620px;
    margin: 0px auto;
}
#signature-container {

}
#sign-why textarea {
    border:none;
    box-shadow: none;
    resize: none;
    margin: 10px 10px 0px 10px;
    height: 180px;
    width: 90%;
    font-size: 18px;
    font-family: 'Lato-Regular', sans-serif;
    color: #757a80;
}
#sign-petition-deliver {
    max-width: 620px;
    margin: 0px auto 60px auto;
}
#other-campaigns-container {
    max-width: 620px;
    margin: 0px auto 60px auto;
}
#share-comment textarea {
    border:none;
    box-shadow: none;
    resize: none;
    margin: 10px 10px 0px 10px;
    height: 160px;
}
#sign-petition-deliver .thanks-heading-copy {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
    display: block; 
}
#sign-petition-deliver .thank-body-copy {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    color: #757a80;
    margin-bottom: 36px;
    display: block; 
}
.copy-or {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.sign-with-fb-button {
    display: block;
    margin: 0px auto 40px auto;
}
/********** Button Styles ****************/
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 0em; 
    -moz-border-radius: 0em;
    border-radius: 0em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.orange {
    color: #ffffff;
    border: solid 1px #fdbe99;
    background: #ff5f00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5f00), to(#ff3100));
    background: -moz-linear-gradient(top,  #ff5f00,  #ff3100);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#ff3100');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.green {
    color: #ffffff;
    background: #1d3037;
}
.green:hover {
    color: #ffffff;
    background: #1d3037;
}
.green:active {
    color: #ffffff;
    background: #1d3037;
}
.action-button {
    background: url("../assets/action-button-background.png");
    width: 620px;
    height:145px;
    color: #fff;
    font-size: 50px;
    font-family: 'Lato-Light', sans-serif;
    border: none;
    padding: none;
    text-shadow: none;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.action-button.icon {
    padding-left: 11px;
}
.action-button.icon span{
    padding-left: 60px;
    line-height: 130px;
    background-position: left;
}
#sign-petition-facebook-button.action-button.icon span {
    background: url(../assets/facebook_icon.png);
    background-repeat: no-repeat;
}
#deliver-signature.action-button.icon span{
    background: url(../assets/twitter-icon.png);
    background-repeat: no-repeat;
   
}
/************************************/

input.register-textfield {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #444444;
    width: 100%; 
    background: #f6f6f6; 
    border: none; 
    box-shadow: none; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
    box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;

}

#push {
    height: 60px;
}
/****************
	NAVBAR
 ****************/

.navbar-inverse .navbar-inner {
    padding: 10px 0;
    background-image: none;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.nav-collapse.collapse {
    float: right;
}

.navbar-inverse .brand {
    color: #5BB75B;
    font-weight: bold;
    text-shadow: 0px 1px 0px #FFFFFF;
}

.navbar-inverse .brand span {
    color: #058EFF;
}

.navbar-inverse .brand:hover {
    color: #5BB75B;
}

.navbar-inverse .nav > li {
    margin-top: 8px;
    margin-right: 10px;
}

.navbar-inverse .nav > li > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #666666;
    text-shadow: 0px 1px 0px #FFFFFF;
    padding: 2px 10px;
    line-height: 18px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #333333;
    background: #f0f0f0;
    box-shadow: none;
    text-shadow: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    color: #666666;
    background: #f0f0f0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: none;
    color: #DC3F35;
}

.navbar-inverse  .btn-nav {
    margin-top: 4px;
}

.navbar-inverse  .btn-nav > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
.navbar-inverse .btn-navbar {
	margin-top: 6px;
	background-image: none;
	background: #e0e0e0;
}
/****************
	HERO UNIT
 ****************/
.hero-wrapper {
    position: relative;
    width: auto;
    background: #f9f9f9;
    ;
      border-bottom: 1px solid #F0F0F0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
}

.hero-unit {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 50px 0 20px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #FFFFFF;
    color: #212121;
}

.hero-unit .lead {
    font-size: 14px;
}

.hero-unit .cta-actions .btn {
    font-size: 14px;
    font-weight: bold;
    min-width: 120px;
}

.hero-media {
    text-align: center;
    padding-bottom: 60px;
	background: url("../assets/mac_bg.png") no-repeat center center;
}

.hero-media img {;
}

 /****************
	FEATURES
 ****************/
.features {
    margin-top: 50px;
}

.features > .span3 {
    text-align: center;
}

.features > .span3 > .icon {
    color: #ffffff;
    font-size: 90px;
    margin: 25px auto 20px;
    padding: 40px 0;
    text-align: center;
    width: 160px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #e0e0e0;
    border: 1px solid #d0d0d0;
    text-shadow: 0px 1px 0px #d0d0d0;
}

.features > .span3 > .icon:hover {
    color: #c0c0c0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
}

.features > .span3 > .icon > i {
    display: inline-block;
}

.features > .span3  > span {
    dispaly: block;
    font-size: 60px;
    color: #212121;
}

.features > .span3  > h2 {
    font-size: 18px;
    color: #212121;
}
 /****************
	CLIENTS
 ****************/

.clients {
    margin-top: 50px;
}

.clients > .span2 {
    text-align: center;
    margin-top: 10px;
}

 /****************
	TESTIMONIALS
 ****************/
.testimonials {
    text-align: center;
    margin: 60px -9999px 0;
    padding: 49px 9999px 33px;
    position: relative;
    width: 100%;
    background: #f9f9f9;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
    text-shadow: 0px 1px 0px #FFFFFF;
}
.testimonials .flexslider{
	box-shadow: none;
	background: none;
	border: none;
	margin: 0 0 40px;
}
.testimonials .flex-control-nav {
	bottom: -30px;
}
.testimonials .flex-control-paging li a{
	background: #f0f0f0;
}
.testimonials .flex-control-paging li a:hover{
	background: #e0e0e0;
}
.testimonials .flex-control-paging li a.flex-active{
	background: #c0c0c0;
}

.testimonials blockquote {
    border: none;
    margin: 0;
}

.testimonials blockquote p {
    font-size: 21px;
    font-weight: normal;
    font-style: italic;
    line-height: 30px;
    color: #c0c0c0;
}

.testimonials blockquote small {
    font-style: italic;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
}
 /****************
	CALL TO ACTION
 ****************/
.call-to-action {
    margin-top: 60px;
}

.call-to-action h4 {
    margin: 0;
    line-height: 28px;
}

.call-to-action p {
    margin-bottom: 0;
}

.call-to-action .btn {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
 /****************
	FOOTER
 ****************/ 
#footer {
	clear: both;
    margin-top: 60px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #F0F0F0;
}

#footer .container {
    padding-top: 49px;
    padding-bottom: 39px;
}

#footer .headline {
    margin-bottom: 30px;
}

#footer .social-media {
    font-size: 60px;
}

#footer .social-media a {
    color: #e0e0e0;
}

#footer .social-media a:hover {
    text-decoration: none;
}

#footer .social-media a.facebook:hover {
    color: #3b5998;
}

#footer .social-media a.twitter:hover {
    color: #0084b4;
}

#footer .social-media a.google-plus:hover {
    color: #c33219;
}

#footer .social-media a.pinterest:hover {
    color: #a0171c;
}

#footer .contact-infos {
    margin-bottom: 10px;
}

#footer .contact-infos p {
    margin: 0;
}

 /****************
	HEADLINES
 ****************/
.headline {
    background: none;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.headline h3 {
    font-weight: normal;
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 10px 0 0;
}

.headline-center {
    text-align: center;
}

.headline-center h3 {
    padding: 0 10px;
}

.headline-simple {
    background: url("../images/headlines/border-line.png") repeat-x 0 50%;
}

.headline-dashed {
    background: url("../images/headlines/border-line-dashed.png") repeat-x 0 50%;
}

.headline-double {
    background: url("../images/headlines/border-line-double.png") repeat-x 0 50%;
}

.headline-triple-dashed {
    background: url("../images/headlines/border-line-3dashed.png") repeat-x 0 50%;
}
 /****************
	BUTTONS
 ****************/
.btn {
    border: none;
    font-size: 12px;
    color: #666666;
    background-image: none;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #FFFFFF;
    background-color: #1E1E1E;
    *background-color: #1E1E1E;
}

.btn-primary {
    color: #ffffff;
    background-color: #4D99DA;
    background-image: none;
    border-color: #0044cc #0044cc #5AB3FC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #5AB3FC;
}

.btn-warning {
    color: #ffffff;
    background-color: #df8505;
    background-image: none;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    color: #ffffff;
    background-color: #ad6704;
}

.btn-danger {
    color: #ffffff;
    background-color: #a9302a;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #ffffff;
    background-color: #802420;
}

.btn-success {
    color: #ffffff;
    background-color: #5FAE25;
    background-image: none;
    border-color: #51a351 #51a351 #7FE234;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #7FE234;
}

.btn-info {
    color: #ffffff;
    background-color: #2a85a0;
    background-image: none;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    color: #ffffff;
    background-color: #1f6377;
}

.btn-inverse {
    color: #ffffff;
    background-color: #151515;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ffffff;
    background-color: #000000;
}
/**** snaptivist custom ****/
img.header_logo {
    height: 40px;
}
legend {
    margin-bottom: 0px;
}
legend + .control-group {
  margin-top: 10px;
}
#target-count-wrapper {
    margin-bottom: 20px;
    max-width: 728px;
    font-family: font-family: 'Oswald-Regular', sans-serif;
}
#target-count-progress-wrapper {
    position:relative;
    padding: 20px;
}
.target-count-goal {
    position:relative;
    line-height: 55px;
    margin-left: 0px !important;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato-Regular', sans-serif;
    border-radius: 4px;
}
.target-count-goal:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 18px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #14b9d6; 
}
#petition-target-count-goal {
    background-color: #14b9d6;
}
#phonecampaign-target-count-goal {
    background-color: #ff6000;
}
#petition-target-count-goal:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #14b9d6; 
}
#phonecampaign-target-count-goal:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ff6000; 
}
#target-count-wrapper .progress {
    margin-bottom: 0px;
    height: 15px;
    border-radius: 8px; 
    background-image: linear-gradient(to bottom, #757a80, #757a80);
}
#target-count-wrapper .progress-white
{
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);    
}
#target-count-wrapper .progress-green 
{
      background-image: linear-gradient(to bottom, #757a80, #757a80);  
}
#target-count-wrapper .orange-bar {
    background-color: #ff6f00;
}
#target-count-wrapper .blue-bar {
    background-color: #11e6f6;
}
#target-count-wrapper .mark {
    position: absolute;
    content: ' ';
    margin-left: -14px;
    top: 16px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: solid 6px #434446;
    z-index: 1001;
}
#target-count-wrapper .action-count {
    font-family: 'Lato-Regular', sans-serif;
    font-size:18px;
    line-height: 44px;
    color: #636363;
}
#target-count-wrapper .action-count #signature_count {
    border-bottom: 1px solid #ff6000;
    padding-bottom: 2px;
    color: #ff6000;
}
/**** Petition Specific Styles *********/
/***** Phone Campaign Specific Styles ****/
#call-target-wrapper {
    margin-bottom: 64px;
    background-color: #fff;
}
#target-phone-number {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 88px;
    background-color: #1d3037;
    color: #fff;
    line-height: 235px;
}
#target-phone-number-icon {
    content: ' ';
    position: absolute;
    left: -30px;
    top:  50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: #ff6000;
    background-image: url(../assets/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
#target-phone-number-icon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    top: 18px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid #ff6000; 
}
#target-call-answer-label {
    font-family: 'Lato-Light', sans-serif;
    font-size: 48px;
    line-height: 45px;
    color: #778387;
    padding: 24px;
}
#target-call-answer-form {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 22px;
    color: #778387;
    padding: 26px 0px 24px 0px;
}
#target-call-answer-form label {
    margin: 8px 0px;
}
/**** Poll Specific *******/
#poll-choices-container {
    width: 728px;
    margin: 0px auto 100px auto;
}
#poll-choices-container label {
    font-family: 'Lato-Light', sans-serif;
    font-size: 42px;
    line-height: 48px;
    color: #3c3c3c;
}
.comment-wrapper {
    max-width: 728px;
    margin: 0px auto 50px auto;
}
.comment-container {
    height: 128px;
    margin-bottom: 10px;
}
.comment-container .avatar {
    max-width: 128px;
}
.comment-container .comment-username {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #14b9d6;
}
.comment-container .comment-timeago {
   font-family: 'Lato-Bold', sans-serif;
    font-size: 14px;
    color: #1d3037;
    padding-left: 4px;
}
.comment-container .comment {
   font-size: 16px;
    color: #7a7a7a;
    display: block;
    margin-top: 10px;
}
.comment-container .media-body {
    padding: 10px;
}
.comment-wrapper .delivery-status {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #d9d6d6;
}
.comment-wrapper .delivery-status-text {
   padding-left: 2px;
   padding-right: 6px;
}
.comment-wrapper .delivery-status-checkbox {
    padding-left: 6px;
}
#see-more-container {
    margin: 0px auto;
    max-width: 528px;
}
#see-more-container #see-more-button {
    position: relative;
    height: 78px;
    line-height: 70px;
    padding: 0px;
    font-size: 45px;
    font-family: 'Lato-Light', sans-serif;
}
#see-more-container #see-more-button span:after {
     font-family: "FontAwesome";
     content: "\f0da";
     color: #ffffff;
     position: absolute;
     font-size: 18px;
     padding-top: 6px;
     padding-left: 12px;

}
#powered-by-wrapper {
    max-width: 950px;
    margin: 60px auto 20px auto;
}
#powered-by-container {
    margin-bottom: 24px;
}
.btn-tweet {
    font-size: 36px;
}
.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:1;
  left:1000px;
  width:100%;
    background: #333; 
}
.view-enter.view-enter-active {
  left:100px;
  opacity:1;
  float: left;
  position: relative;
      background: red; 
}
.view-leave {
  left:-1000px;
  width:100%;
  opacity:1;
  background: #333;  
}
.view-leave.view-leave-active {
  position:relative;
  float: left;
  left:-1000px;
  opacity:1;
}
.slide-in-setup, .slide-out-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.slide-out-setup {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.slide-out-setup.slide-out-start {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-setup {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

.slide-in-setup.slide-in-start {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
    
}