@font-face {
    font-family: 'Lato-Black';
    src: url('font/lato-bla-webfont.eot');
    src: url('font/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-bla-webfont.woff') format('woff'),
         url('font/lato-bla-webfont.ttf') format('truetype'),
         url('font/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}