@font-face {
    font-family: 'Lato-Light';
    src: url('font/lato-lig-webfont.eot');
    src: url('font/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-lig-webfont.woff') format('woff'),
         url('font/lato-lig-webfont.ttf') format('truetype'),
         url('font/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}