@import '../brand';

#sign-petition {
  max-width: 528px; 
  margin: 0px auto 0px auto;
  padding: 0px 10px;
  .controls {
    margin-bottom: 12px;
  }
  input {
    max-width: 100%;
    margin-bottom: 0px;
  }
  .text-error {
    margin-left: 4px;
  }
}
.comment-wrapper {
    max-width: 728px;
    margin: 0px auto 12px auto;
}
.comment-wrapper .comment-container {
  margin: 0px auto 0px auto;
  max-height: 128px;
  margin-bottom: 14px;
}
.comment-container .comment-username {
    font-family: 'Oswald', sans-serif;
    font-size: 1.28em;
    color: #14b9d6;
}
.comment-container .comment-timeago {
   font-family: 'Lato-Bold', sans-serif;
    font-size: 1em;
    color: #1d3037;
}
.comment-container .comment {
   font-size: 16px;
    color: #7a7a7a;
    display: block;
    margin-top: 10px;
}
.comment-container .media-body {
    padding: 10px;
}
.comment-wrapper .delivery-status {
    font-family: 'Lato', sans-serif;
    font-size: 1.14em;
    color: #d9d6d6;
}

.comment-wrapper .delivery-status-text {
   padding-left: 2px;
   padding-right: 6px;
}
.comment-wrapper .delivery-status-text:before {
    font-family: "FontAwesome";
    content: "\f099";
    font-size: 1.5em;
}
.comment-wrapper .delivery-status-checkbox {
    padding-left: 6px;
}

.more-actions {
  .royalSlider {
    width: 100%;
    float: left;
    clear: left;
  }
  .rsSlide {
    position: absolute;
    width: 340px;
    & > div {
      position: relative;
      height: 360px;
    }
    .product-background {
      opacity: 0.7;
      height: 100%;
      background-size: cover;
      .product-details {
        background-color: transparent;
        min-height: 120px;
      }
    }
  }
  .rsActiveSlide .product-background {
    opacity: 1;
    border: 2px solid $dark_green;
  }

  .rsThumb {
    img {
      opacity: 0.5;
    }
    &.rsNavSelected {
      img {
        opacity: 1.0;
      }
    }
  }
  .sub-header-block {
    width: 100%;
    clear: left;
    float: left;
    height: 80px;
    border-top: 3px solid $border_grey;
    margin-bottom: 25px;

    background-color: $grey;
    .caption-with-action {
      &:before, &:after {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        bottom: 80px;
        pointer-events: none;
        left: 48%;
      }
      &:before {
        border-color: rgba(250, 92, 103, 0);
        border-bottom-color: #adadad;
        border-width: 24px;
        margin-top: -9px;
      }
      &:after {
        border-color: rgba(250, 92, 103, 0);
        border-bottom-color: $grey;
        border-width: 20px;
        margin-top: 0px;
        margin-left: 4px;
      }
      width: 100%;
      padding: 0;
      height: 80px;
      .sub-header {
        width: 68%;
        padding: 0;
        text-align: right;
        z-index: 1;
        height: 80px;
        overflow: hidden;
        .animated-block {
          display: table;
          width: 100%;
          height: 80px;
          position: relative;
          left: 0;
          &.initial-hide {
            left: 100%;
          }
          p {
            color: $dark_grey;
            display: table-cell;
            vertical-align: middle;
            position: relative;
          }
        }
      }
      #action-button {
        margin-top: 0;
        width: 32%;
        z-index: 5;
        padding: 0;
        .button {
          width: auto;
          margin-top: 18px;
          font-size: 20px;
          font-weight: 400;
          line-height: auto;
          height: 40px;
          padding: 3px 18px;
        }
      }
    }
  }
}

.product-background {
  padding: 0;
  .product-details {
    background-color: $dark_grey;
    min-height: 82px;
    .details {
      padding-top: 10px;
      p {
        padding: 0;
        color: white;
        font-size: emCalc(18px);
        margin-bottom: -10px;
        &.left {
          padding-left: 22px;
          float: left;
          clear: left;
        }
        &.right {
          float: right;
          padding-right: 22px;
          clear: right;
        }
        &:nth-child(1), &:nth-child(2) {
          font-size: emCalc(27px);
        }
        &:nth-child(3) {
          font-size: emCalc(16px);
        }
        &#value {
          font-size: emCalc(15px);
        }
      }
      &.receiving {
        p {
          font-size: 20px;
        }
      }
    }
  }
}

// Styling for facebooks modal. Fixing its buggy loading text
#fb-root {
  .fb_dialog_content .dialog_header .header_center {
    color: rgba(55, 83, 141, 0.8)
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }
