#header-image {
    -webkit-box-shadow: 0 8px 6px -5px #9e9e9e;
    -moz-box-shadow: 0 8px 6px -5px #9e9e9e;
    box-shadow: 0 8px 6px -5px #9e9e9e;
    margin-bottom: 24px;
}
p {
    font-family: 'Lato-Light', sans-serif;
    color: #232323;
    font-size: 22px;
    margin: 5px auto;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    color: #1d3037;
    margin: 0px 0px 40px 0px;
}
h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f35b00;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0px 0px 14px 0px;
    margin-bottom: 30px;
}
h3 {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
}
h4 {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
    font-weight: normal;
}
h5 {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    color: #757a80;
    margin-bottom: 36px;
    font-weight: normal;
}
h6 {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    color: #757a80;
    margin-bottom: 36px;
    font-weight: normal;
}
h1.title {
    max-width: 560px;
    margin: 0px auto 40px auto;
    line-height: 60px;
}
h2.target-name {
    display: inline-block; 
    padding-left: 18px; 
    padding-right: 18px; 
    border-bottom: inset 1px #dedede;

}
p.description {
    max-width: 728px;
    margin: 0px auto;
    font-size: 28px;
    line-height: 36px;
}
.drop-shadow-full {
    -moz-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0px 0px 14px 3px rgba(0, 0, 0, 0.25);   
}
.solid-white-back {
    background-color: #ffffff;
}
.solid-green-back {
    background-color: #1d3037;
}
#action-wrapper {
    max-width: 620px;
    margin: 0px auto;
}
#signature-container {

}
#sign-why {
    height: 160px;
    padding: 10px;
    color: #757a80;
}
#sign-why textarea {
    border:none;
    box-shadow: none;
    resize: none;
    height: 120px;
    font-size: 15px;
    font-family: 'Lato-Regular', sans-serif;
    color: #757a80;
}
#sign-petition-deliver {
    max-width: 620px;
    margin: 0px auto 60px auto;
}
#other-campaigns-container {
    max-width: 620px;
    margin: 0px auto 60px auto;
}
#share-comment {
    height: 160px;
    padding: 10px;
    color: #757a80;
}
#share-comment textarea {
    border:none;
    box-shadow: none;
    resize: none;
    height: 120px;
    font-size: 15px;
    font-family: 'Lato-Regular', sans-serif;
}
#sign-petition-deliver .thanks-heading-copy {
    font-family: 'Lato-Light', sans-serif;
    font-size: 36px;
    color: #757a80;
    margin-bottom: 24px;
    display: block; 
}
#sign-petition-deliver .thank-body-copy {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    color: #757a80;
    margin-bottom: 36px;
    display: block; 
}
.copy-or {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.sign-with-fb-button {
    display: block;
    margin: 0px auto 40px auto;
}
/********** Button Styles ****************/
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 0em; 
    -moz-border-radius: 0em;
    border-radius: 0em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.orange {
    color: #ffffff;
    border: solid 1px #fdbe99;
    background: #ff5f00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5f00), to(#ff3100));
    background: -moz-linear-gradient(top,  #ff5f00,  #ff3100);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#ff3100');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.green {
    color: #ffffff;
    background: #1d3037;
}
.green:hover {
    color: #ffffff;
    background: #1d3037;
}
.green:active {
    color: #ffffff;
    background: #1d3037;
}
.action-button {
    background: url(../../assets/action-button-background.png);
    width: 100%;
    color: #fff;
    font-size: 50px;
    font-family: 'Lato-Light', sans-serif;
    border: none;
    padding: none;
    text-shadow: none;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.action-button.icon {
    padding-left: 11px;
}
.action-button.icon span{
    padding-left: 60px;
    line-height: 130px;
    background-position: left;
}
#sign-petition-facebook-button.action-button.icon span {
    background: url(../../assets/facebook_icon.png);
    background-repeat: no-repeat;
}
#deliver-signature.action-button.icon span{
    background: url(../../assets/twitter-icon.png);
    background-repeat: no-repeat;
   
}
/************************************/

input.register-textfield {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #444444;
    width: 100%; 
    background: #f6f6f6; 
    border: none; 
    box-shadow: none; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
    box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.24);
}
/**** snaptivist custom ****/
img.header_logo {
    height: 40px;
}
legend {
    margin-bottom: 0px;
}
legend + .control-group {
  margin-top: 10px;
}
#target-count-wrapper {
    margin-bottom: 20px;
    width: 96%;
    max-width: 668px;
    font-family: font-family: 'Oswald-Regular', sans-serif;
}
#target-count-progress-wrapper {
    position:relative;
    width: 90%;
    float: left;
}
#progress-bar-outer-wrapper {
    margin: 20px;
}
#progress-bar-wrapper {
    margin-bottom: 0px;
}
.target-count-goal {
    position:relative;
    line-height: 55px;
    margin-left: 0px !important;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato-Regular', sans-serif;
    border-radius: 4px;
}
.target-count-goal:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 18px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #14b9d6; 
}
#petition-target-count-goal {
    background-color: #14b9d6;
    width: 10%;
    float: left;
}
#phonecampaign-target-count-goal {
    background-color: #ff6000;
}
#petition-target-count-goal:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #14b9d6; 
}
#phonecampaign-target-count-goal:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ff6000; 
}
#target-count-wrapper .progress {
    height: 15px;
    border-radius: 8px; 
    background-image: linear-gradient(to bottom, #757a80, #757a80);
}
#target-count-wrapper .progress-white
{
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);    
}
#target-count-wrapper .progress-green 
{
      background-image: linear-gradient(to bottom, #757a80, #757a80);  
}
#target-count-wrapper .orange-bar {
    background-color: #ff6f00;
}
#target-count-wrapper .blue-bar {
    background-color: #11e6f6;
}
#target-count-wrapper .mark {
    position: absolute;
    content: ' ';
    top: 16px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: solid 6px #434446;
    z-index: 1001;
}
#target-count-wrapper .action-count {
    font-family: 'Lato-Regular', sans-serif;
    font-size:18px;
    line-height: 44px;
    color: #636363;
}
#target-count-wrapper .action-count #signature_count {
    border-bottom: 1px solid #ff6000;
    padding-bottom: 2px;
    color: #ff6000;
}
/**** Petition Specific Styles *********/
/***** Phone Campaign Specific Styles ****/
#call-target-wrapper {
    margin-bottom: 64px;
    background-color: #fff;
}
#target-phone-number {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 88px;
    background-color: #1d3037;
    color: #fff;
    line-height: 235px;
}
#target-phone-number-icon {
    content: ' ';
    position: absolute;
    left: -30px;
    top:  50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: #ff6000;
    background-image: url(../../assets/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
#target-phone-number-icon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    top: 18px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid #ff6000; 
}
#target-call-answer-label {
    font-family: 'Lato-Light', sans-serif;
    font-size: 48px;
    line-height: 45px;
    color: #778387;
    padding: 24px;
}
#target-call-answer-form {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 22px;
    color: #778387;
    padding: 26px 0px 24px 0px;
}
#target-call-answer-form label {
    margin: 8px 0px;
}
/**** Poll Specific *******/
#poll-choices-container {
    width: 728px;
    margin: 0px auto 100px auto;
}
#poll-choices-container label {
    font-family: 'Lato-Light', sans-serif;
    font-size: 42px;
    line-height: 48px;
    color: #3c3c3c;
}
#see-more-container {
    margin: 0px auto;
    max-width: 528px;
}
#see-more-container #see-more-button {
    position: relative;
    height: 78px;
    line-height: 70px;
    padding: 0px;
    font-size: 45px;
    font-family: 'Lato-Light', sans-serif;
}
#see-more-container #see-more-button span:after {
     font-family: "FontAwesome";
     content: "\f0da";
     color: #ffffff;
     position: absolute;
     font-size: 18px;
     padding-top: 6px;
     padding-left: 12px;

}
#powered-by-wrapper {
    max-width: 950px;
    margin: 60px auto 20px auto;
}
#powered-by-container {
    margin-bottom: 24px;
}
.btn-tweet {
    font-size: 36px;
}
.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:1;
  left:1000px;
  width:100%;
    background: #333; 
}
.view-enter.view-enter-active {
  left:100px;
  opacity:1;
  float: left;
  position: relative; 
}
.view-leave {
  left:-1000px;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  position:relative;
  float: left;
  left:-1000px;
  opacity:1;
}
.slide-in-setup, .slide-out-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.slide-out-setup {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.slide-out-setup.slide-out-start {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-setup {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

.slide-in-setup.slide-in-start {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1)}

  100%{
    -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1)}

  100%{
    -webkit-transform:scale(.3)}

}
.action-background
{
    background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
  height: 100%;
  background-size: cover;
  opacity: 1;
    -webkit-transform: scale(1, 1);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    transition: all 0.3s ease-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: initial;
    position: relative;
    padding: 0px;
}
.action-background .product-details {
background-color: transparent;
min-height: 120px;
}
@media (max-width: 767px)  {
    #target-count-progress-wrapper {
        float: left !important;
        width: 85%;
    }
}
@media (max-width: 767px)  {
    #petition-target-count-goal {
        float: left !important;
        width: 15%;
        font-size: 14px;
    }
}
@media (max-width: 767px)  {
    .action-count {
        float: left !important;
        width: 50% !important;
    }
}
/* Large desktop */
@media (min-width: 1200px) { 
    .action-button {
        font-size: 50px !important;
    }
    #see-more-button {
        font-size: 45px !important;
    }
    .comment-container .pull-left {
        float: left !important;
    }
    .comment-container .comment-username {
        font-size: 18px;
    }
    .comment-container .comment-timeago {
        font-size: 14px;
    }
    .comment-wrapper .comment-container.comment {
        width: 100%;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .action-button {
        font-size: 40px !important;
    }
    #see-more-button {
        font-size: 35px !important;
    }
    .comment-container .pull-left {
        float: left !important;
    }
    .comment-container .comment-username {
        font-size: 16px;
    }
    .comment-container .comment-timeago {
        font-size: 13px;
    }
    .comment-wrapper .comment-container.comment {
        width: 100%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .action-button {
        font-size: 40px !important;
    }
    #see-more-button {
        font-size: 35px !important;
    }
    .comment-container .pull-left {
        float: left !important;
    }
    .comment-container .comment-username {
        font-size: 16px;
    }
    .comment-container .comment-timeago {
        font-size: 13px;
    }
    .comment-wrapper .comment-container.comment {
        width: 100%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .action-button {
        font-size: 30px !important;
    }
    #see-more-button {
        font-size: 25px !important;
    }
    .comment-container {
        height: 75px;
    }
    .comment-wrapper {
        margin: 0px auto 20px auto;
    } 
    .comment-container .media-body {
        padding: 10px 4px 4px 4px;
        line-height: 14px;
    }
    .comment-container .pull-left {
        float: left !important;
        margin-right: 6px;
    }
    .comment-container .comment-username {
        font-size: 14px;
    }
    .comment-container .comment-timeago {
        font-size: 12px;
    }
    .comment-container .avatar {
        max-width: 75px;
    }
    .comment-container .comment {
        display: none;
    }
    .comment-wrapper .comment-container.comment {
        width: 100%;
    }
}


