.container.text-center
  %div{"image-upload-overlay"=>"", "title"=>"Add Header Image", "notes"=>"Recommended image size: 950x250px", "image-name"=>"header_image_full", "is-admin"=>"is_admin"}
    .drop-shadow.lifted#header-image{"ng-style" => "header_image_styling()"}
  %h2#petition-headline.contenteditable.placeholer-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_headline_primary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Headline", "name"=>"delivery_headline_primary", "required"=>""}
  %h1.title.contenteditable.placeholer-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_headline_secondary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Headline (Secondary)", "name"=>"delivery_headline_secondary", "required"=>""}
  %p.description
    %span.contenteditable.placeholer-showing{:style=>"display: block", "contenteditable"=>"", "ng-model" => "petition.delivery_summary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Summary", "name"=>"summary", "required"=>""}
  #action-wrapper
    #sign-panel{:style => "margin: 20px 0px 40px 0px", "ng-switch"=>"disable_forms"}
      %form{"ng-switch-when"=>"false", "name"=>"tweet_form", "novalidate"=>"", "ng-class"=>"form_styling()", "role"=>"form"}
        #share-comment.drop-shadow-full.solid-white-back.text-left
          %textarea.form-control{:style=>"width: 96%", "rows"=>"5", "name"=>"tweet", "ng-model"=>"tweet.message", :maxlength => "115", "required"=>""}
          #message-counter.text-right {{115 - tweet.length}}
        %button#deliver-signature.action-button.icon{"ng-click" => "deliver_action(tweet_form)"}
          %span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_call_to_action_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Call to Action Button Text"}
        .text-center
          %button.btn.btn-link{"ng-click" => "skip_delivery()"}
            Not Right Now
      %div{"ng-switch-when"=>"true"}
        #share-comment.drop-shadow-full.solid-white-back.text-left
          .contenteditable.placeholder-showing.text-left{:style=>"height: 120px", "contenteditable"=>"", "ng-model"=>"petition.default_tweet_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Default Tweet Message"}
          #message-counter.text-right {{115 - tweet.length}}
        %button#deliver-signature.action-button.icon{"ng-click" => "deliver_action(tweet_form)"}
          %span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_call_to_action_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Call to Action Button Text"}
        .text-center
          %button.btn.btn-link{"ng-click" => "skip_delivery()"}
            %span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_skip_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Delivery Skip Button Text"}
    #target-count-wrapper{:style => "margin: 0px auto 10px auto;"}
      .row
        #target-count-progress-wrapper.col-md-11.solid-white-back.drop-shadow-full
          #progress-bar-outer-wrapper
            #progress-bar-wrapper.progress.progress-striped.progress-green
              #progress-bar.bar.orange-bar{:style => "width: {{get_percentage_signed(petition.signature_count, petition.target_count)}}%;"}
              %span#progress-marker.mark{:style => "left: {{load_progress_marker(petition.signature_count, petition.target_count)}}"}
        #petition-target-count-goal.col-md-1.target-count-goal
          %span.nobr
            {{ get_percentage_signed(petition.signature_count, petition.target_count) }}
            \%
      .row
        .col-md-6.action-count{:style => "text-align: left; padding-left: 22px;"}
          Signers:
          %span#signature_count
            {{petition.signature_count}}
        .col-md-6.action-count{:style => "text-align: right; padding-right: 44px"}
          Goal: 
          %span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.target_count", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Target Number of Signatures","name"=>"target_count", "required"=>""}
    #comment-container.comment-wrapper{:style => "margin-bottom: 40px;", "ng-controller" => "CommentController"}
      %div{:style => "margin-bottom: 25px", "ng-repeat" => "signature in comments.items | orderBy: 'created_at':true"}
        .media.comment-container.comment.solid-white-back.drop-shadow-full.clear-fix
          %a.pull-left
            %img.media-object.avatar{"ng-style" => "get_avatar_url(signature)"}
          .media-body{:style => "text-align: left;"}
            %span.comment-username
              {{signature.user.first_name}}
              {{signature.user.last_name}}
            %span.comment-timeago
              signed {{signature.created_at | fromNow }} 
            %span.comment-location{"ng-bind" => "display_location(signature)"}
            %span.comment
              {{signature.tweet.message}}
        .delivery-status.row.text-right
          .devivered{"ng-show" => "show_signature_delivered(signature)"}
            %span.delivery-status-text
              STATUS: DELIVERED
              %span
                %img.delivery-status-checkbox{"ng-src" => "/assets/checkbox-checked-delivery-status.png"}
          .not-delivered{"ng-hide"  => "show_signature_delivered(signature)"}
            %span.delivery-status-text
              STATUS: PENDING
              %span
                %img.delivery-status-checkbox{"ng-src" => "/assets/checkbox-delivery-status.png"}
    #see-more-container{"ng-hide"=>"tweets.items.length >= tweets.total"}
      %button#see-more-button.button.action-button.green{:style => "width: 100%", "ng-click" => "show_more_signatures_click()"}
        %span.contenteditable.placeholder-showing{"contenteditable"=>"", "ng-model" => "petition.delivery_more_tweets_button_text", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"More Tweets Button Text"}
  #powered-by-wrapper
    %a#powered-by-container.row.text-right{"href" => "http://www.snaptivist.com", :style => "display: block"}
      = image_tag "powered_by.png"

  %div{"loading-screen" => "loading.show_spinner"}