.container.text-center
  .row
    %img{"ng-src" => "{{petition.image_full}}", "ng-show" => "has_header_image()", :id => "header-image", :class => "drop-shadow lifted", "ng-cloak" => ""}
  .row
    %h2#petition-headline.contenteditable.placeholer-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.headline_primary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Signature Headline", "ng-bind"=>"!is_admin && petition.headline_primary || ''"}
  .row
    %h1.title.contenteditable.placeholer-showing{"contenteditable"=>"{{is_admin}}", "ng-model" => "petition.headline_secondary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Signature Headline (Secondary)", "ng-bind"=>"!is_admin && petition.headline_secondary || ''"}
  .row
    %p.description
      %span.contenteditable.placeholer-showing{:style=>"display: block", "contenteditable"=>"{{is_admin}}", "ng-model" => "petition.summary", "strip-br"=>"true", "select-non-editable"=>"true", "data-placeholder"=>"Petition Summary", "ng-bind"=>"!is_admin && petition.summary || ''"}
  .row{:style => "margin: 0px auto 30px auto"}
    %button#call-to-action-button.button.action-button.orange{"ng-click"=>"show_action_click()"}
      {{get_call_to_action_button_copy()}}
  .row
    #target-count-wrapper{:style => "margin: 0px auto 10px auto;"}
      .row
        #target-count-progress-wrapper.col-md-11.solid-white-back.drop-shadow-full
          #progress-bar-outer-wrapper
            #progress-bar-wrapper.progress.progress-striped.progress-green
              #progress-bar.bar.orange-bar{:style => "width: {{get_percentage_signed(petition.signature_count, petition.target_count)}}%;"}
              %span#progress-marker.mark{:style => "left: {{load_progress_marker(petition.signature_count, petition.target_count)}}"}
        #petition-target-count-goal.col-md-1.target-count-goal
          %span
            {{ get_percentage_signed(petition.signature_count, petition.target_count) }}
            \%
      .row
        .col-md-6.action-count{:style => "text-align: left; padding-left: 22px;"}
          Signers:
          %span#signature_count
            {{petition.signature_count}}
        .col-md-6.action-count{:style => "text-align: right; padding-right: 44px"}
          Goal: {{petition.target_count}}
  .row
    %div#action-wrapper
      .row#sign-panel
        .row{:style => "margin: 20px 0px 40px 0px"}
          %h2
            %edit-in-place{"value"=>"petition.title"}
          %p.description
            Signing is simple, sign using your Facebook account or by entering your name, email address and zip code below.
          #sign-petition-signature
            #signature-container{"data-facebook" => Settings.facebook_app_id }
              #sign-why.solid-white-back{:style => "text-align: left;"}
                %textarea#comment{:maxlength => "115", :style => "width: 90%", :placeholder => "{{petition.signature_comment_placeholder_text || 'Tell Us Why You are Signing...'}}", "ng-model" => "signature_form.comment"}
                #message-counter.text-right {{115 - signature_form.comment.length}}
              %button.drop-shadow.lifted.action-button.icon#sign-with-fb-button{"ng-click" => "fetch()"}
                %span{"click-to-edit"=>"petition.sign_with_facebook_cta_button_text"}
                  {{petition.sign_with_facebook_cta_button_text || "Sign With Facebook"}}
            %div#copy-or
              \-OR-
            #sign-petition
              %form{:name => "myForm", "novalidate" => true, :style => "margin: 0px;", "role"=>"form"}
                .form-group.clearfix
                  .col-md-6
                    %input#firstName.register-textfield.form-control{:type => "text", :name => "FirstName", :placeholder => "First Name", "ng-model" => "signature_form.first_name", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.FirstName.$invalid"}
                      First Name is required  
                  .col-md-6
                    %input#lastName.register-textfield.form-control{:type => "text", :name => "LastName", :placeholder => "Last Name", "ng-model" => "signature_form.last_name", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.LastName.$invalid"}
                      Last Name is required  
                .form-group.clearfix
                  .col-md-6
                    %input#emailAddress.register-textfield.form-control{:type => "email", :name => "EmailAddress", :placeholder => "Email Address", "ng-model" => "signature_form.email_address", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.EmailAddress.$invalid && myForm.EmailAddress.$error.required"}
                      Email Address is required  
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.EmailAddress.$invalid && myForm.EmailAddress.$error.email"}
                      This is not a valid Email Address
                  .col-md-6
                    %input#zipCode.register-textfield.form-control{:type => "text", :name => "ZipCode", :placeholder => "Zip Code", "ng-model" => "signature_form.zip_code", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.ZipCode.$invalid"}
                      Zip Code is required  
                .form-group.clearfix
                  .col-md-12
                    %button#sign-petition-user-name.button.action-button.orange{:style => "width: 100%", "ng-click" => "sign_with_email_address(myForm)"}
                      {{petition.sign_with_email_cta_button_text || "Add My Name"}}
                    .controls{:style => "padding: 0px 20px"}
                      %label.checkbox{:style => "text-align: left"}
                        %input#chkEmailSignUp{:checked => "", :type => "checkbox", "ng-model" => "signature_form.opt_in"}
                          %div#copy-opt-in
                            Update me on the results of this campaign and others from
                            %b {{petition.creator.organization_name}}

  .row#sponsor-comment{"ng-show" => "has_sponsor()"}
    .comment-wrapper
      %h5.text-left This Petition is Sponsored By
      .media.comment-container.solid-white-back.drop-shadow-full.clear-fix
        %a.pull-left{:href => "#"}
          %img.media-object.avatar{"ng-src" => "{{petition.client.image_medium}}"}/
        .media-body{:style => "text-align: left;"}
          %span.comment-username
            {{petition.client.name}}
          %span.comment-timeago
            created this petition {{petition.created_at | fromNow }}
          %span.comment
            {{petition.comment}} 
  .row{:style => "margin-bottom: 40px;"}
    %div#comment-container.comment-wrapper{"ng-show" => "show_comments()"}
      %h5.text-left This Petition was Signed By
      %div{:style => "margin-bottom: 25px", "ng-repeat" => "signature in comments.items | orderBy: 'created_at':true"}
        .media.comment-container.comment.solid-white-back.drop-shadow-full.clear-fix
          %a.pull-left
            %img.media-object.avatar{"ng-src" => "{{get_avatar_url(signature)}}"}/
          .media-body{:style => "text-align: left;"}
            %span.comment-username
              {{signature.user.first_name}}
              {{signature.user.last_name}}
            %span.comment-timeago
              signed {{signature.created_at | fromNow }} 
            %span.comment-location{"ng-bind" => "display_location(signature)"}
            %span.comment
              {{signature.comment}}
        .delivery-status.row.text-right
          .devivered{"ng-show" => "show_signature_delivered(signature)"}
            %span.delivery-status-text
              STATUS: DELIVERED
              %span
                %img.delivery-status-checkbox{"ng-src" => "/assets/checkbox-checked-delivery-status.png"}
          .not-delivered{"ng-hide"  => "show_signature_delivered(signature)"}
            %span.delivery-status-text
              STATUS: PENDING
              %span
                %img.delivery-status-checkbox{"ng-src" => "/assets/checkbox-delivery-status.png"}
    .row{"ng-hide" => "show_more_signatures_button()"}
      #see-more-container
        %button#see-more-button.button.action-button.green{:style => "width: 100%", "ng-click" => "show_more_signatures_click()"}
          %span
            See More Signers
            %span
  .row
    #powered-by-wrapper
      %a#powered-by-container.row.text-right{"href" => "http://www.snaptivist.com", :style => "display: block"}
        = image_tag "powered_by.png"

  %div{"loading-screen" => "loading.show_spinner"}