.row-fluid
	#sign-petition-deliver
		%h4.text-center
			Almost Done
		%h5.text-center
			Now Use Twitter to Deliver Your Signature So Your Target Can’t Hide!
		#share-comment.drop-shadow-full.solid-white-back.text-left
			%textarea#comment{:maxlength => "115", :style => "width: 90%", "ng-model" => "tweet"}
			#message-counter.text-right {{115 - tweet.length}}
		%button#deliver-signature.action-button.icon{"ng-click" => "deliver_action()"}
			%span
				Tweet @Target
		.text-right
			%a{"ng-click" => "skip_delivery()"}
				Not Right Now
