.row-fluid{:style => "margin: 20px 0px 40px 0px"}
  #loaded-view-wrappe
    .row-fluid
      #action-wrapper
        %h2
          Sign Here
        #sign-petition-signature
          #signature-container{"data-facebook" => Settings.facebook_app_id }
            #sign-why.solid-white-back{:style => "text-align: left;"}
              %textarea#comment{:maxlength => "115", :style => "width: 90%", :placeholder => "{{petition.signature_comment_placeholder_text || 'Tell Us Why You are Signing...'}}", "ng-model" => "signature_form.comment"}
              #message-counter.text-right {{115 - signature_form.comment.length}}
            %button.drop-shadow.lifted.action-button.icon#sign-with-fb-button{"ng-click" => "fetch()"}
              %span
                {{petition.sign_with_facebook_cta_button_text || "Sign With Facebook"}}
          %div.copy-or
            \-OR-
          #sign-petition
            %form{:name => "myForm", "novalidate" => true, :style => "margin: 0px;"}
              .row-fluid
                .span6
                  .controls
                    %input#firstName.register-textfield.span12{:type => "text", :name => "FirstName", :placeholder => "First Name", "ng-model" => "signature_form.first_name", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.FirstName.$invalid"}
                      First Name is required  
                .span6
                  .controls
                    %input#lastName.register-textfield.span12{:type => "text", :name => "LastName", :placeholder => "Last Name", "ng-model" => "signature_form.last_name", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.LastName.$invalid"}
                      Last Name is required  
              .row-fluid
                .span6
                  .controls
                    %input#emailAddress.register-textfield.span12{:type => "email", :name => "EmailAddress", :placeholder => "Email Address", "ng-model" => "signature_form.email_address", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.EmailAddress.$invalid && myForm.EmailAddress.$error.required"}
                      Email Address is required  
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.EmailAddress.$invalid && myForm.EmailAddress.$error.email"}
                      This is not a valid Email Address
                .span6
                  .controls
                    %input#zipCode.register-textfield.span12{:type => "text", :name => "ZipCode", :placeholder => "Zip Code", "ng-model" => "signature_form.zip_code", "required" => true}
                    .text-error.text-left{"ng-show" => "myForm.submitted  && myForm.ZipCode.$invalid"}
                      Zip Code is required  
              .row-fluid
                .span12
                  .controls
                    %button#sign-petition-user-name.button.action-button.orange{:style => "width: 100%", "ng-click" => "sign_with_email_address(myForm)"}
                      {{petition.sign_with_email_cta_button_text || "Add My Name"}}
                  .controls{:style => "padding: 0px 20px"}
                    %label.checkbox{:style => "text-align: left"}
                      %input#chkEmailSignUp{:checked => "", :type => "checkbox", "ng-model" => "signature_form.opt_in"}
                        %div.copy-opt-in
                          Update me on the results of this campaign and others from
                          %b {{petition.creator.organization_name}}
