.container-fluid{:style => "text-align:center;", "ng-controller" => "PetitionController"}
  .row-fluid
    %img{"ng-src" => "{{petition.image_full}}", :id => "header-image", :class => "drop-shadow lifted", "ng-cloak" => ""}
  .row-fluid
    %h2.target-name{"ng-cloak" => "", "click-to-edit"=>"petition.target_headline_text"}
      {{petition.target_headline_text || petition.target.title + " " + petition.target.last_name}}
  .row-fluid
    %h1.title{"click-to-edit"=>"petition.title"}
      {{petition.title}}
  .row-fluid
    %p.description
      %span{:style => "display: block;", "click-to-edit"=>"petition.summary"}
        {{petition.summary}}
  .row-fluid{:style => "margin: 0px auto 30px auto"}
    %button#call-to-action-button.button.action-button.orange{:style => "padding: 20px 10%", "ng-click"=>"show_action_click()","click-to-edit"=>"petition.call_to_action_button_copy"}
      {{get_call_to_action_button_copy()}}
  .row-fluid
    #target-count-wrapper.container-fluid{:style => "margin: 0px auto 10px auto;"}
      .row-fluid
        #target-count-progress-wrapper.span11.solid-white-back.drop-shadow-full
          #progress-bar-outer-wrapper
            #progress-bar-wrapper.progress.progress-striped.progress-green
              #progress-bar.bar.orange-bar{:style => "width: {{get_percentage_signed(petition.signature_count, petition.target_count)}}%;"}
              %span#progress-marker.mark{:style => "left: {{load_progress_marker(petition.signature_count, petition.target_count)}}"}
        #petition-target-count-goal.span1.target-count-goal
          %span
            {{ get_percentage_signed(petition.signature_count, petition.target_count) }}
            \%
      .row-fluid
        .span6.action-count{:style => "text-align: left; padding-left: 22px;"}
          Signers:
          %span#signature_count
            {{petition.signature_count}}
        .span6.action-count{:style => "text-align: right; padding-right: 44px", "click-to-edit" => "petition.target_count"}
          Goal: {{petition.target_count}}
  .row-fluid
    %div#actions-container{:style => "position: relative;  overflow-y: hidden;"}
      %div#action-slider{:style => "position: relative;"}
        .row-fluid#sign-panel
          %div{"ng-include" => "templates.sign_url"}
        .row-fluid#deliver-panel
          %div{"ng-include" => "templates.deliver_url"}
        .row-fluid#more-actions-panel{:style => "position: absolute"}
          %div{"ng-include" => "templates.more_actions_url"}
  .row-fluid#sponsor-comment
    .container-fluid.comment-wrapper
      %h5.text-left This Petition is Sponsored By
      .media.comment-container.solid-white-back.drop-shadow-full.clear-fix
        %a.pull-left{:href => "#"}
          %img.media-object.avatar{"ng-src" => "{{petition.client.image_medium}}"}/
        .media-body{:style => "text-align: left;"}
          %span.comment-username
            {{petition.client.name}}
          %span.comment-timeago
            created this petition {{petition.created_at }}
          %span.comment
            {{petition.comment}} 
  .row-fluid
    #powered-by-wrapper
      %a#powered-by-container.row-fluid.text-right{"href" => "http://www.snaptivist.com", :style => "display: block"}
        = image_tag "powered_by.png"

  %div{"loading-screen" => "loading.show_spinner"}