.container-fluid{:style => "text-align:center;", "ng-controller" => "PhoneCampaignsController"}
  .row-fluid
    %img{"ng-src" => "{{phonecampaign.image_full}}", "ng-show" => "has_header_image()", :id => "header-image", :class => "drop-shadow lifted", "ng-cloak" => ""}
  .row-fluid
    %h2.target-name{"ng-cloak" => ""}
      {{phonecampaign.target.title}} {{phonecampaign.target.last_name}}
  .row-fluid
    %h1.title {{phonecampaign.title}}
  .row-fluid
    %p.description{"collapse" => "isCollapsed"}
      %span{:style => "display: block; margin-bottom: 20px;"}
        {{phonecampaign.summary}}
    %button.btn{"ng-click" => "read_summary_click()", :style => "margin-bottom: 40px;",}
      {{summary_more_text}}
  #target-count-wrapper.container-fluid{:style => "margin: 0px auto 80px auto;"}
    .row-fluid
      #target-count-progress-wrapper.span11.solid-white-back.drop-shadow-full
        #progress-bar-outer-wrapper
          #progress-bar-wrapper.progress.progress-striped.progress-green
            #progress-bar.bar.orange-bar{:style => "width: {{get_percentage_signed(phonecampaign.call_results_count, phonecampaign.target_count)}}%;"}
            %span#progress-marker.mark{:style => "left: {{load_progress_marker(phonecampaign.call_results_count, phonecampaign.target_count)}}"}
      #petition-target-count-goal.span1.target-count-goal
        %span
          {{ get_percentage_signed(phonecampaign.call_results_count, phonecampaign.target_count) }}
          \%
    .row-fluid
      .span6.action-count{:style => "text-align: left; padding-left: 22px;"}
        Callers:
        %span#signature_count
          {{phonecampaign.call_results_count}}
      .span6.action-count{:style => "text-align: right; padding-right: 44px"}
        Goal: {{phonecampaign.target_count}}
  .row-fluid{:style => "position: relative; width: 100%; margin: 0px auto 80px auto;"}
    %div.view-animate-container{"ng-view" => "", "ng-animate" => "{enter: 'slide-in-setup', leave: 'view-leave'}"}
  .row-fluid
    .container-fluid.comment-wrapper
      .media.comment-container.solid-white-back.drop-shadow-full.clear-fix
        %a.pull-left{:href => "#"}
          %img.media-object.avatar{"ng-src" => "{{get_avatar_url(phonecampaign.creator)}}"}/
        .media-body{:style => "text-align: left;"}
          %span.comment-username
            {{phonecampaign.creator.organization_name}}
          %span.comment-timeago
            created this petition {{phonecampaign.created_at | fromNow }}
          %span.comment
            {{phonecamapaign.comment}} 
    .row-flud
      #powered-by-wrapper
        %a#powered-by-container.row-fluid.text-right{"href" => "http://www.snaptivist.com", :style => "display: block"}
          = image_tag "powered_by.png"

  %div{"loading-screen" => "loading.show_spinner"}