%div{:style=>"padding: 10px"}
	%h5
		Petition URL
	%p
		Your petition will get a custom Snaptivist url and a unique short url to promote your petition to your followers
	%h5
		Petition Target
	%p
		Snaptivist allows your petition to be targeted directly to a politician or other target
	%h5
		Action Tags
	%p
		Assigning action tags to your petition allows you to better track your supporters of your campaign and the actions that they have taken