.form-group
	%label
		Action Sub Domain
	.row
		.col-md-3
			%input.form-control{"type"=>"text", "placeholder"=>"Sub Domain", "ng-model"=>"petition.subdomain", "name"=>"subdomain", "required"=>""}
		.col-md-9.notes
			%div{"ng-show"=>"petition.subdomain.length > 0"}
				Your action url will be: http://{{petition.subdomain}}.snaptivist.org
%label
	Tags
%p
	Add the following tags to all action takers
%div
	.row
		.col-md-6
			#action-tags.input-group
				%input.form-control{"type"=>"text", "ng-model"=>"action_tags.new_tag", "placeholder"=>"Type a Tag Name"}
				%span.input-group-btn
					%button.btn{"type"=>"button", "ng-click"=>"add_action_tag()"}
						Add
						%i.icon-plus
	%ul#action-tags-cloud
		%li.tag-cloud{:style=>"padding: 4px 8px", "ng-repeat"=>"tag in action_tags.list"}
			%button.close{:style=>"padding-left: 10px", "type"=>"button","aria-hidden"=>"true","ng-click"=>"delete_action_tag(tag)"}
				&times;
			%span.tag-cloud-info
				{{tag.name}}
%div{"ng-repeat"=>"conditional_action_tag in settings.conditional_action_tags"}
	%p
		{{conditional_action_tag.conditional_action_tag_type.label}}
	.row
		.col-md-6
			#action-tags.input-group
				%input.form-control{"type"=>"text", "ng-model"=>"conditional_action_tag.new_tag", "placeholder"=>"Type a Tag Name"}
				%span.input-group-btn
					%button.btn{"type"=>"button", "ng-click"=>"add_conditional_action_tag(conditional_action_tag)"}
						Add
						%i.icon-plus
	%ul#action-tags-cloud
		%li.tag-cloud{:style=>"padding: 4px 8px", "ng-repeat"=>"tag in conditional_action_tag.list"}
			%button.close{:style=>"padding-left: 10px", "type"=>"button","aria-hidden"=>"true","ng-click"=>"delete_conditional_action_tag(conditional_action_tag, tag)"}
				&times;
			%span.tag-cloud-info
				{{tag.name}}
