.modal-header
	%button.close{"type"=>"button", "data-dismiss"=>"modal","aria-hidden"=>"true", "ng-click"=>"cancel()"}
		&times;
	.modal-title
		Change Layout
.modal-body
	.row
		%div{"ng-repeat"=>"layout in layouts", "ng-click"=>"set_layout(layout)", "ng-style"=>"set_layout_item_styling(layout)"}
			.col-md-4
				.thumbnail.text-center
					%h5 {{layout.name}}
					%p {{layout.description}}
.modal-footer
	%button.btn.btn-primary{"ng-click"=>"ok()"}
		Ok