%div.panel{:style=>"padding: 50px 40px", "ng-hide"=>"settings.layout || false"}
	%p{:style=>"margin-bottom: 0px"}
		Select a layout on the right to start your petition >>
%div#action-container{:style=>"background-color: #fff;", "ng-controller"=>"SamplePetitionController", "ng-show"=>"settings.layout || false"}
	%div{"ng-include"=>"sample_page_template()"}
