.modal-header
	%button.close{"type"=>"button", "data-dismiss"=>"modal","aria-hidden"=>"true", "ng-click"=>"cancel()"}
		&times;
	%h2.modal-title
		Create a New Action
.modal-body
	%form{"name"=>"form", "no-validate"=>""}
		.form-group
			%label
				Action Title:
			%input.form-control{"type"=>"text", "name"=>"title", "ng-model"=>"new_petition.title", "placeholder"=>"Type the Title of Your Action", "required"=>""}
			%div{"ng-show"=>"form.title.$dirty && form.title.$invalid"}
				%span{"ng-show"=>"form.title.$error.required"} An action title is required.
		.form-group
			%label
				Action Subdomain:
			%input.form-control{"type"=>"text", "name"=>"subdomain", "ng-model"=>"new_petition.subdomain", "placeholder"=>"Add a Subdomain for your Action", "required"=>""}
			%div{"ng-show"=>"form.subdomain.$dirty && form.subdomain.$invalid"}
				%span{"ng-show"=>"form.subdomain.$error.required"} A subdomain for the action is required.
.modal-footer
	%button.btn.btn-primary{"ng-click"=>"ok()","ng-disabled"=>"form.$invalid"}
		Create Action