%div{"ng-controller"=>"PagesController"}
	%div.panel{:style=>"padding: 50px 40px", "ng-hide"=>"settings.pages_list.length > 0"}
		%p{:style=>"margin-bottom: 0px"}
			Start building your petition flow by adding pages from the right >>
	%div{"ng-repeat"=>"page in settings.pages_list"}
		%div.page-header{:style=>"cursor: pointer", "ng-click"=>"toggle_page(page)"}
			.row
				.col-md-9
					%h4.page-header-name
						{{page.name}}
				.col-md-3.text-right
					%i.glyphicon.glyphicon-remove{style: "line-height: 30px; cursor: pointer", "ng-click"=>"remove_page(page)"}
		.panel#action-container{:style=>"padding:10px; margin: 10px 0px;", "ng-show"=>"page.expanded"}
			%div{"ng-include"=>"get_page_template(page.template_name)"}