%h4
	Signature Page
.panel{:style=>"padding:10px; margin: 10px 0px;"}
	%div{"ng-include"=>"", "src"=>"'clients/partials/signature'"}
%h4
	Delivery Page
.panel{:style=>"padding:10px; margin: 10px 0px;"}
	%div{"ng-include"=>"", "src"=>"'clients/partials/delivery'"}
%h4
	Premium Page
.panel{:style=>"padding:10px; margin: 10px 0px;"}
	%div{"ng-include"=>"", "src"=>"'clients/partials/premium'"}