%div{"ng-repeat"=>"page in pages()"}
	%h4
		{{page.title}}
	.panel{:style=>"padding:10px; margin: 10px 0px;"}
		%div{"ng-include"=>"page.url"}
%div.text-right{:style => "margin-right: 20px;"}
	%button.btn.btn-lg.btn-success{"ng-click"=>"submit_petition()", :style=>"width: 100px"}
		Submit!