%div
	%div.panel{:style=>"padding: 50px 40px", "ng-hide"=>"campaign.campaign_pages.length > 0"}
		%p{:style=>"margin-bottom: 0px"}
			Start building your action by adding pages from the right >>
	#action-container{:style=>"padding: 40px;", "ng-page"=>"", "page"=>"selected_page", "is-admin"=>"is_admin", "layout"=>"settings.layout", "template-url"=>"page_item.page.template_url"}