.panel
	%h4 {{ petition.name }}
	.row.clearfix
		.col-md-6
			%a{"ng-href"=>"{{petition_url()}}"}
				{{petition_url()}}
		.col-md-6
			%a{"ng-href"=>"{{petition.shorturl}}"}
				{{petition.short_url}}