.modal-header
	%button.close{"type"=>"button", "data-dismiss"=>"modal","aria-hidden"=>"true", "ng-click"=>"cancel()"}
		&times;
	%h3.modal-title
		Change Theme
.modal-body
	.row
		%div{"ng-repeat"=>"theme in themes", "ng-click"=>"set_theme(theme)", "ng-style"=>"set_theme_item_styling(theme)"}
			.col-md-4
				.thumbnail.text-center
					%h5 {{theme.name}}
					%p {{theme.description}}
.modal-footer
	%button.btn.btn-primary{"ng-click"=>"ok()"}
		Ok