%meta{:charset => "utf-8"}
%meta{:content => "width=320, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
%title Snaptivist.com
%link{:href => "/assets/mobile-web/SplashScreen.png", :rel => "apple-touch-startup-image"}
%link{:href => "/assets/mobile-web/AppIcon.png", :rel => "apple-touch-icon-precomposed"}
%link{:href => "http://fonts.googleapis.com/css?family=Lato,Oswald", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/assets/fav-icon.png", :rel => "icon", :type => "image/png"}