<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    
    FB.init({
      appId      : '332189543469634', // App ID
      // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    
    console.debug(FB.getAccessToken());
    
     FB.Event.subscribe('auth.statusChange', function(response) {
           FB.api('/me/permissions', function(response){
			if(response && response.data && $.isArray(response.data)){

			};
	   });
      });
     
    // Additional initialization code here
	<% if flash[:fb_logout] %>
		FB.logout();
	<% end %>
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>