%link{:href => "http://fonts.googleapis.com/css?family=Domine:400,700", :rel => "stylesheet", :type => "text/css"}
<script src="/assets/moment.js"></script>
= stylesheet_link_tag "application", :media => "all"
= stylesheet_link_tag 'petitions'