<link href="/assets//bootstrap.css" rel="stylesheet">
<link href="/assets/bootstrap-responsive.css" rel="stylesheet">
<link href="/assets/landapp.css" rel="stylesheet">
<link href="/assets/landapp-responsive.css" rel="stylesheet">
<link href="/assets/font-awesome.css" rel="stylesheet">
<link href="/assets/flexslider/flexslider.css" rel="stylesheet">
%link{:href => "http://fonts.googleapis.com/css?family=Domine:400,700", :rel => "stylesheet", :type => "text/css"}
<script src="/assets/moment.js"></script>
= stylesheet_link_tag params[:controller]