%html{"ng-app" => "clients", "ng-controller"=>"ClientsController"}
  %head
    = render partial: 'layouts/clients/head'

  %body
    = render partial: 'layouts/clients/header'
    .row-wrapper-fluid
      .row
        = yield